<section>
	<div class="footer">
		
	</div>
	<p id="back-top">
		<a href="javascript:$('html,body').animate({scrollTop:0},'slow');" ><span></span></a>
	</p>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<p class="pull-left">
						 Copyright &copy; 2015 Home Note All Right Reserved.
					</p>
				</div>
				<div class="col-md-8">
					<ul class="footermenu pull-right">
						<!-- <li><a href="#">About  Us</a></li>
                        <li><a href="#">Contact Us</a></li> -->
                        <li><a href="/#/terms-conditions">Terms and Conditions</a></li>
                        <!-- <li><a href="#">FAQs</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	</section>