<nav class="navbar navbar-default navbar-fixed-top wowmenu" role="navigation">
	<div class="container">
		<div class="row">
        	<div class="col-xs-12 col-sm-3 col-md-5">
            	<button type="button" class="navbar-toggle collapsed" id="mm">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
               <ul id="nav" class="nav navbar-nav pull-left">
                    <!--<li><a href="index.html">About Us</a></li>
                    <li><a href="#">Contact Us </a></li>
                    <li><a href="#">Select Your Mentor </a></li>
                    <li><a href ui-sref="howitworks">How It Works </a></li>-->
                </ul>
               
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
        		<div class="navbar-header center-block visible-lg visible-md">
                    <a class="navbar-brand logo-nav" href><img ng-click="redirectToDashboard(loggedInUser.isActiveSession)" src="../static/img/logo.png" alt="logo"></a>
                </div>
                <div class="navbar-header visible-sm visible-xs">
                    <a class="navbar-brand logo-nav" href=""><img src="../static/img/logo.png" alt="logo"></a>
                </div>
                <div id="brand" class="visible-lg visible-md visible-sm"></div>    
            </div>
             <div class="col-xs-12 col-sm-3 col-md-5">
        		<div class="pull-right">
                    <div class="topsearch">
                        <!-- <form action="">
                            <input type="text" name="" value="" placeholder="Search Instruments">
                            <button><i class="fontawesome-icon icon-search"></i></button>
                        </form> -->
                    </div>
                    <div class="toplogin" ng-hide="loggedInUser.isActiveSession" id="login_btn"><a href="#" class="btn btn-default" ui-sref="register">Login/Sign up</a></div>
                    <div class="afterlogin" id="after_login" ng-hide="!loggedInUser.isActiveSession">
                            <li class="dropdown" style="list-style-type:none;">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" ><!-- 
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                            <img alt="image" class="img-circle"  id="profile_pic_id"  src="{{loggedInUser.pic_url}}"> <span class="name">{{loggedInUser.first_name}} {{loggedInUser.last_name}}</span><span class="caret"></span>
                         <!--  </button> -->
                         </a>
                          
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href ui-sref="dashboard"><i class="icon-home"></i> My Home Note</a></li>
                            <li><a href ui-sref="teachercalendar"><i class="icon-task"></i> Current Event</a></li> 
                            <li><a href="/#/addteacher1/{{loggedInUser.user_id}}"><i class="icon-pencil"></i> Edit Profile</a></li>
                            <li><a href="/#/teacherprofile/{{loggedInUser.user_id}}"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                            <li><a href ng-click="logout()"><i class="icon-signout"></i> Logout</a></li>
                          </ul>  
                      </li>
                    </div>
                </div>  

            </div>

        </div>
        
	</div>	
	</nav>

   <!--  <a class="dropdown-toggle" data-toggle="dropdown" >a<span class="caret"></span></a> -->