<nav class="navbar navbar-fixed-top wowmenu" role="navigation">
	<div class="container">
		<div class="row">
        	<div class="col-xs-12 col-md-5">
        		<ul id="nav" class="nav navbar-nav pull-left">
                    <li><a href="index.html">About Us</a></li>
                    <li><a href="#">Contact Us </a></li>
                    <li><a href="#">Select Your Mentor </a></li>
                    <li><a href="/#/howitworks" >How It Works </a></li>
                </ul>    
            </div>
            <div class="col-xs-3 col-sm-3 col-md-2">
        		<div class="navbar-header center-block visible-lg visible-md">
                    <a class="navbar-brand logo-nav" href="/#/"><img src="../static/img/logo.png" alt="logo"></a>
                </div>
                <div class="navbar-header visible-sm visible-xs">
                    <a class="navbar-brand logo-nav" href="/#/"><img src="../static/img/logo.png" alt="logo"></a>
                </div>
                <div id="brand" class="visible-lg visible-md visible-sm"></div>    
            </div>
            <div class="col-xs-9 col-md-5">
        		<div class="pull-right">
                    <div class="topsearch">
                        <form action="">
                            <input type="text" name="" value="" placeholder="Search Instruments">
                            <button><i class="fontawesome-icon icon-search"></i></button>
                        </form>
                    </div>
                    <div class="toplogin" id="login_btn"><a href="#" class="btn btn-default" href>Login/Sign up</a></div>
                    
                </div>  

            </div>

        </div>
        
	</div>	
	</nav>

   <!--  <a class="dropdown-toggle" data-toggle="dropdown" >a<span class="caret"></span></a> -->