

       <div class="alert alert-info alert-dismissable" id="notification-bar" style="display:none;">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          <p></p>
        </div>
  