<!DOCTYPE html>
<html lang="en" ng-app="homenoteapp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Home Note - Learn Music Comfartably</title>
<!-- Style -->
<link href="static/css/bootstrap.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
<!-- Responsive -->
<link href="static/css/responsive.css" rel="stylesheet">
<!-- Choose Layout -->
<link href="static/css/layout-semiboxed.css" rel="stylesheet">
<!-- Choose Skin -->
<link href="static/css/skin-red.css" rel="stylesheet">
<link href="static/css/custom.css" rel="stylesheet">
<!-- Favicon -->
<link rel="shortcut icon" href="../static/img/favicon.ico">

<!--Chosen-->
<link href="static/css/chosen/chosen.css" rel="stylesheet">
<!-- IE -->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>	   
    <![endif]-->
<!--[if lte IE 8]>
	<link href="css/ie8.css" rel="stylesheet">
	 <![endif]-->



	 <script src="static/js/jquery/jquery-2.1.1.min.js"></script>
<script src="static/js/plugins/jquery-ui/jquery-ui.js"></script>
<script src="static/js/plugins/noty/jquery.noty.packaged.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>


<!-- Chosen -->
<script src="static/js/plugins/chosen/chosen.jquery.js"></script>



<script src="static/js/angular/angular.min.js"></script>
<script src="static/js/ui-router/angular-ui-router.min.js"></script>
<script src="static/js/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

<!-- Chosen -->
<script src="static/js/plugins/chosen/chosen.js"></script>
<script src="static/js/plugins/chosen/chosen.jquery.js"></script>

</head>
<body class="off" >
<!-- /.wrapbox start-->
<div class="wrapbox">
	 <div ng-include="'static/views/common/loginheader.html'"></div>


        <!-- Main view  -->

       
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Login</h1>
		<p class="animated fadeInRightBig container page-description">
			 Login with user name or email address.<br/>
			or you can login with Facebook or Linkedin account.
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			<!-- Begin Form 1 -->
    		<section class="container topspace10">	
            	<div class="row">
                    <div class="col-md-6 animated fadeInLeft notransition">
                        <div class="box effect2"  ng-controller="LoginCtrl">
                            <h4>Login</h4>
                            <form method="post" ng-submit="submit()" ngEnter="submit()">
                            <div class="radio">
								<p><label><input type="radio"> Teacher </label>
                                <label><input type="radio"> Student </label></p>
							</div>
                            <div class="done">
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    Your message has been sent. Thank you!
                                </div>
                            </div>
                            <div class="form" >
                            	 <input class="col-xs-12" type="text" placeholder="Username"  ng-model="username" required="">
                            	 <input class="col-xs-12" type="password" placeholder="Password"  ng-model="password" required="">
                               <!--  <input class="col-xs-12" type="text" name="email" placeholder="Email Address">
                                <input class="col-xs-12" type="password" name="password" placeholder="Password"> -->
                                <input type="submit" id="submit" class="btn btn-default"  ng-click="submit()" value="Login">
                            </div>
                            </form>
                        </div>
                        <br>
                    </div>
                    
                    <div class="col-md-6 animated fadeInRight notransition">
                    	 <div class="box effect2">
                            <h4 class="text-center">Register Today!</h4>
                            <a class="btn center-block btn-primary" href="/#/register"> Sign Up</a>
                        </div>
                        <br>
                    	<div class="box effect2">
                            <h4 class="text-center">Login with Facebook</h4>
                            <button class="btn center-block btn-primary"> <i class="icon-facebook-sign"></i> Login with Facebook</button>
                        </div>
                        <br>
                        <div class="box effect2">
                            <h4 class="text-center">Login with Linkedin</h4>
                            <button class="btn center-block btn-primary"> <i class="icon-linkedin-sign"></i> Login with Linkedin</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-12">&nbsp;</div>
                </div>    
				<!--<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
								<input type="checkbox"> Remember me </label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Sign in</button>
						</div>
					</div>
				</form>-->
				<!-- End Form 1 -->
			<!-- ELEMENTS ITEMS END -->
			</section>
    	</div>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
	

        <!-- Footer -->
        <div ng-include="'static/views/common/footer.html'"></div>
	</div>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
	
	<!-- /footer section end-->

<!-- /.wrapbox ends-->
<!-- SCRIPTS, placed at the end of the document so the pages load faster
================================================== -->
<script src="static/js/bootstrap.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/common.js"></script>
<script>
	/* ---------------------------------------------------------------------- */
	/*	Carousel
	/* ---------------------------------------------------------------------- */
	$(window).load(function(){			
		$('#carousel-projects').carouFredSel({
		responsive: true,
		items       : {
        width       : 200,
        height      : 295,
        visible     : {
            min         : 1,
            max         : 4
        }
    },
		width: '200px',
		height: '295px',
		auto: true,
		circular	: true,
		infinite	: false,
		prev : {
			button		: "#car_prev",
			key			: "left",
				},
		next : {
			button		: "#car_next",
			key			: "right",
					},
		swipe: {
			onMouse: true,
			onTouch: true
			},
		scroll: {
        easing: "",
        duration: 1200
    }
	});
		});
</script>
<script>
	//CALL TESTIMONIAL ROTATOR
	$( function() {
		/*
		- how to call the plugin:
		$( selector ).cbpQTRotator( [options] );
		- options:
		{
			// default transition speed (ms)
			speed : 700,
			// default transition easing
			easing : 'ease',
			// rotator interval (ms)
			interval : 8000
		}
		- destroy:
		$( selector ).cbpQTRotator( 'destroy' );
		*/
		$( '#cbp-qtrotator' ).cbpQTRotator();
	} );
</script>
<script>
	//CALL PRETTY PHOTO
	$(document).ready(function(){
		$("a[data-gal^='prettyPhoto']").prettyPhoto({social_tools:'', animation_speed: 'normal' , theme: 'dark_rounded'});
	});
</script>
<script>
	//MASONRY
	$(document).ready(function(){
	var $container = $('#content');
	  $container.imagesLoaded( function(){
		$container.isotope({
		filter: '*',	
		animationOptions: {
		 duration: 750,
		 easing: 'linear',
		 queue: false,	 
	   }
	});
	});
	$('#filter a').click(function (event) {
		$('a.selected').removeClass('selected');
		var $this = $(this);
		$this.addClass('selected');
		var selector = $this.attr('data-filter');
		$container.isotope({
			 filter: selector
		});
		return false;
	});
	});
</script>
<script>
//ROLL ON HOVER
	$(function() {
	$(".roll").css("opacity","0");
	$(".roll").hover(function () {
	$(this).stop().animate({
	opacity: .8
	}, "slow");
	},
	function () {
	$(this).stop().animate({
	opacity: 0
	}, "slow");
	});
	});
</script>
<script  src="static/js/lib/angular-local-storage/angular-local-storage.js"></script>
<script src="static/js/angular/angular-sanitize.js"></script>

<!-- Anglar App Script -->

<!-- <script src="js/app.js"></script>
<script src="js/config.js"></script> -->
<!-- <script src="/scripts/app/directive//directives.js"></script> -->
 
<!-- <script src="/scripts/lib/cryptojslib/components/pbkdf2.js"></script> -->

<!-- <script  src="js/lib/angular-local-storage/angular-local-storage.js"></script>
<script  src="js/lib/isUndefined.js"></script> -->

<!-- <script src="/scripts/js/config.js"></script> -->
<script src="/scripts/app/directive/homenotedirectives.js"></script>
<script src="/scripts/app/service/services.js"></script>

<script src="/scripts/app/app.js"></script>

<script src="/scripts/app/directive/directives.js"></script>

<script src="/scripts/app/controller/controllers.js"></script> 
<!--Constant -->
<script src="/scripts/app/constant/constant.js"></script>
<!--App Controller -->
 <script src="/scripts/app/controller/parentController.js"></script>
<script src="/scripts/app/controller/userController.js"></script>
 <script src="/scripts/app/controller/teacherController.js"></script>
 <script src="/static/js/utils/HomeNoteUtils.js"></script>
</body>
</html>