/* CSS Document */

.navbar-fixed-top {top: 0px;}
#c-slide { padding: 0px; margin-top: 75px; }
.pageheader-default { margin-top: 80px; }
.pageheader-default .semitransparentbg { padding-top:100px }
.navbar-nav > li > a { padding-left:5px; padding-right:5px; }
.container > .navbar-header.center-block { margin:0 auto; float:none; max-width:105px; }
a { outline:0;}
:focus, :hover, :active { outline:none !important}
.navbar .nav { margin-left:-30px; }
.navbar { border-bottom: 3px solid #f54828; }
.navbar > .container .navbar-brand { margin-left:30px; }
.navbar-fixed-top .row { margin:0px -15px; }
.navbar-fixed-top .row .col-md-5 { padding:0px; }
.navbar #brand, .navbar-default #brand {
    position: absolute;
    left: 0%;
    margin: -19px auto 0px 25px;
    width: 150px;
    height: 150px;
    border-bottom: 5px solid #f54828;
    border-radius: 100%;
    background: #ffffff url("../img/head.png") repeat-x left top;
    z-index: -2;
	-webkit-transition:all 0.4s ease 0s; -ms-transition:all 0.4s ease 0s; transition:all 0.4s ease 0s;
}

.wowmenu { -webkit-transition:height 0.4s ease 0s; -ms-transition:height 0.4s ease 0s; transition:height 0.4s ease 0s; height:83px; }
.wowmenu.tiny { background:#ffffff !important; -webkit-transition:height 0.4s ease 0s; -ms-transition:height 0.4s ease 0s; transition:height 0.4s ease 0s; }
.wowmenu.tiny #brand{ width:120px; height:120px; background:#ffffff;  }
.wowmenu.tiny .center-block img{ max-width:70%; }

.tinynav { margin-left:20px; }

.carouselText1 {
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 60px;
    background: none;
    color: #FFF;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}
.carouselText1 .colortext { font-weight: 800; color:#FFFFFF }

.carouselText2 { background:none }
.carouselText2 .btn { font-size:18px; border:1px solid #c4c4c4; border-radius:5px; text-transform:uppercase; padding-right:40px; }
.carouselText2 .btn-danger { background:#f54828 url(../img/arrow.png) no-repeat right center; }
.carouselText2 .btn-default { background:#555555 url(../img/arrow.png) no-repeat right center; }
.carouselText2 .btn-danger:hover, .carouselText2 .btn-default:hover { background:tranparent url(../img/arrow.png) no-repeat right center;  }

.topsearch { background:#555555; border-radius:5px; float:left; margin-right:20px; }
.topsearch input[type="text"], .topsearch button { border:0px; background:none; padding:7px 10px; margin-bottom:0px; color:#FFFFFF; }

.toplogin { float:left }
.toplogin .btn { border-radius:5px; text-transform:uppercase; font-size:12px; }

.afterlogin { float:left; margin-left:20px; position:relative }
.afterlogin .img-circle { width:38px; height:38px; }
.afterlogin .btn { background:none; padding:0px; }
.afterlogin .badge { right:10px;top:-15px; background:#f54828 }
.afterlogin .dropdown-message { padding:10px; width:300px; box-shadow:0px 0px 3px rgba(0,0,0,0.5) }
.afterlogin .dropdown-message li{ border-bottom:1px solid #d5d5d5; margin-bottom:10px; }
.afterlogin .dropdown-message li:last-child{ border-bottom:0px solid #d5d5d5; margin-bottom:0px; }
.afterlogin .dropdown-messages-box .media-body { border:0px; width:85%; font-size:12px; padding:0px 0px 10px 10px }


.notification { float:left; margin-left:20px; position:relative }
.notification .btn { background:none; padding:0px; }
.notification .badge { right:10px;top:-15px; background:#f54828 }
.notification .dropdown-message { padding:10px; width:300px; box-shadow:0px 0px 3px rgba(0,0,0,0.5) }
.notification .dropdown-message li{ border-bottom:1px solid #d5d5d5; margin-bottom:10px; }
.notification .dropdown-message li:last-child{ border-bottom:0px solid #d5d5d5; margin-bottom:0px; }
.notification .dropdown-messages-box .media-body { border:0px; width:85%; font-size:12px; padding:0px 0px 10px 10px }

.icon-violin { background:url(../img/violin-icon.png) no-repeat center center }
.icon-violin:hover { background:url(../img/violin-icon-white.png) no-repeat center center }
.icon-piano { background:url(../img/piano-icon.png) no-repeat center center }
.icon-piano:hover { background:url(../img/piano-icon-white.png) no-repeat center center }

.icon-guitar { background:url(../img/guitar-icon.png) no-repeat center center }
.icon-guitar:hover { background:url(../img/guitar-icon-white.png) no-repeat center center }

.icon-trumpet { background:url(../img/trumpet-icon.png) no-repeat center center }
.icon-trumpet:hover { background:url(../img/trumpet-icon-white.png) no-repeat center center }

.bgarea, { background-image:url(../img/features-back.jpg) }
.pageheader-default { background-image:url(../img/back1.jpg); background-position: center center }
.wrapsemibox { padding-bottom:0px}
.footer { padding-top:60px; }
.recent-projects-home .boxcontainer img { height:auto }
.boxcontainer h1 {
    font-size: 24px;
    font-weight:400;
    line-height: 1;
    padding:10px 10px 0px 10px;
    margin: 0px; color:#ffffff; background:#f54828;
}
.boxcontainer p { margin: 0px; padding:10px 10px 15px; color:#ffffff; background:#f54828;}
.boxcontainer p a { border:1px solid #ffadad; border-radius:5px; display:inline-block; padding:0px 15px; background:#f54828; transition: all 0.2s ease; color:#ffffff }
.boxcontainer p a:hover { background:#ffffff; color:#f54828; }
.copyright .row{ margin:0px -40px }
.wrapsemibox { min-height:600px; }

.caption ul li{ list-style-type:none; text-align:left }

.img-circle{ width: 50px; height: 50px; border-radius:50% }

.labelbox { width:20%; float:left; padding:0px 15px;}
.labelbox a {
   display: block;
background: #f6f6f6;
border-radius: 5px;
text-align: center;
color: #898989;
font-size: 15px;
padding-bottom: 10px;
transition: all 0.3s ease-in 0s;
transform: scale(1, 1);
}
.labelbox a span{ display: block; color: #383838; font-size: 36px; font-weight: 400; margin-bottom:10px;}
.labelbox a .fa { font-size: 48px; background: #f54828; display: block; padding: 10px; color: #FFF; border-radius: 5px 5px 0px 0px; margin-bottom: 20px; }
.margintop { margin-top:30px; }

.smalltitle { margin-top:-30px; }

.list, .panel ul { margin:0px; padding:0px; }
.list li{ margin:0px; padding:5px 0px 5px 15px; list-style-type:none; position:relative }
.list li:before { content:''; display:block; position:absolute; left:0; top:10px; border-left:5px solid #000000; border-right:5px solid transparent; border-top:5px solid transparent; border-bottom:5px solid transparent }

.form-horizontal .form-group { margin-bottom:0px; }
.pageheader-default .pro{ width:33.33333%; margin:20px auto 0 auto; background:#FFFFFF; padding:8px; border-radius:3px; }
.pageheader-default .pro .progress { height:20px; margin-bottom:0px; background:#e5e5e5 }

.nav-tabs.nav-justified.protabs { padding-right:40px;}
.protabs li a { font-size:18px; color:#d7d7d7; font-weight:600; background:#717171 ; position:relative; border:0px !important; border-radius:0px !important; text-align:left !important; padding:5px 0px 5px 40px; }
.protabs li a:hover, .protabs li a:focus { background:#333333 !important; border:0px !important}
.protabs li a:before { content: "";position: absolute;border-width: 30px;border-style: solid;border-color: transparent transparent transparent #ffffff;top: -4px;left:100%;z-index: 99; width:0; height:0; }
.protabs li a:after { content: "";position: absolute;border-width: 26px;border-style: solid;border-color: transparent transparent transparent #717171;top: 0px;left:100%;z-index: 99; width:0; height:0; }
.protabs li a span{ display:block; font-size:13px; color:#d7d7d7; font-weight:400; }

.nav-tabs.protabs > li:first-child a, .nav-tabs.protabs > li:first-child.active > a { padding-left:20px; }

.nav-tabs.protabs > li.active > a { color:#ffffff !important; background:#F54828 !important; border:0px !important;}
.nav-tabs.protabs > li.active > a:after { border-color: transparent transparent transparent #F54828;}
.nav-tabs.protabs > li.active > a span{ color:#ffffff !important }

.protabs li a:hover:after, .protabs li a:focus:after{ border-color: transparent transparent transparent #333333;}

input[type="file"] { height:auto }
.btn-primary { border:0px; }
.input-group { margin-bottom:15px; }
.infoicon { position:relative }
.infoicon button.btn { position:absolute; top:0; right:15px; padding:6px 12px; }

.upvideo { width:100%; padding:74px 0px; text-align:center; background:#ededed; border:2px dashed #dddddd; }
.upvideo input[type="file"] { display:inline-block; background:#ffffff}
.video-thumb { width:100px; height:100px; margin:0px 5px; background:#ededed; display:inline-block; position:relative; }
.video-thumb:before { content:"\f03d"; font-family: FontAwesome; color: #dddddd; font-size: 24px; text-align: center; position: absolute; left: 50%; top: 50%; margin-left: -12px; margin-top: -12px; } 
.terms .drop-cap { width:40px; height:40px; font-size:30px; line-height:40px; }
.navbar-toggle {border:0px; margin-top:25px;}
.carousel-control.left, .carousel-control.right { height:90px !important;}

.navbar-default .navbar-toggle { float:left}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background:#f54828;}
.navbar-default .navbar-toggle .icon-bar { background:rgba(255,255,255,1.8)}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar { background:#ffffff;}
.navbar-default .navbar-toggle.icon-bar { background-color: #f5f5f5;}
.input-group-addon { top:0px}

.form-horizontal .checkbox-inline {padding-top:0}

#filter {border:1px solid #ddd; border-top:0px;}
#filter.in {margin-top:-1px; position:relative; z-index:1px;}
#filter h3 { border-bottom:1px solid #ddd; margin:10px 0px 10px 0px; padding:0px 0px 10px 0px; font-weight:normal; font-size:16px; line-height:20px; color:#333333;}
#filter .checkbox label { font-size:16px;}
.nav-tabs.filter li:last-child > a { bordert:1px solid #dddddd !important}
.nav-tabs.filter { border-bottom:0px solid #dddddd}
.nav-tabs.filter > .active > a { background:#f7f7f7 !important; color:#000000 !important; font-weight:bold; border:1px solid #dddddd !important}
.nav-tabs.filter li a:hover { background:#f7f7f7 !important; color:#000000; cursor:pointer !important; border:1px solid #dddddd !important}

.teacherbox { text-align:left}
.teacherbox h3 { margin:5px 0px 10px 0px; padding:0px; font-weight:400}
.teacherbox span { font-style:normal !important; display:block; text-transform:capitalize}
.teacherbox .col-sm-6 { padding:0px;}
.teacherbox a { margin:10px 1px 0px; padding:8px 10px !important}
.teacherbox .rating { float:right; margin-top:5px;}
.teacherbox .rating i { color:#EC971F}

.chatbox { position:fixed; bottom:0; right:10px; width:200px; height:36px; background:#F54828; border-radius:5px 5px 0px 0px; padding:5px 10px; z-index:9999; border:1px solid #ffffff; border-bottom:0px; }
.chatbox a { color:#ffffff; line-height:24px; display:block; position:relative}
.chatbox a i { position:absolute; right:0; top:5px}

.help-block { margin-top:-13px; margin-bottom:13px;}
.form-group .chosen-container-single .chosen-single { height:32px ; padding:3px 0px 0px 8px; margin-bottom:5px; }
.form-group .chosen-container-single .chosen-single div { top:4px;}
.form-group .chosen-container, .column .chosen-container { margin-bottom:10px;}

.icon-addon span{ font-size:18px; cursor:pointer}

.fc-basic-view td.fc-week-number span, .fc-basic-view td.fc-day-number { padding-top:5px; padding-right:10px;}
.fc-day-header { padding:5px 0px !important;}
.profilepage .panel.mychart { min-height:380px;}
.tabcontent .nav-tabs > li > a { cursor:pointer}
/*.form-horizontal input, .form-horizontal button, .form-horizontal select, .form-horizontal textarea { margin-bottom:0px;}*/

@media screen and (min-width:601px) and (max-width:767px) {

    .tinynav { margin-top:0px;  }
    .navbar > .container .navbar-brand { float:none; margin-top:-48px !important; text-align:center; display:block; margin-left:0px; }
	.navbar > .container .navbar-brand img {display:inline}
	.wowmenu.tiny .navbar-brand img{ max-width:50%; display:inline }
    .tinynav { margin-bottom:10px; margin-top:-6px; }
	.topsearch { display:none }
	/*.navbar-header {position: absolute;top: -40px;left: 15px;}*/
	.navbar #brand, .navbar-default #brand {margin: -67px auto 0px auto; position:relative}
 	.navbar-toggle {border:0px; margin-top:5px; z-index:9999}
	.copyright .row {margin: 0px 0px;}
	.pageheader-default .pro { width:80%}

.nav-tabs.nav-justified.protabs { padding-right:30px;}
.nav.protabs > li { display:table-cell; width:1%;}
.protabs li a:before { border-width: 22px;}
.protabs li a:after { border-width: 18px;}
.protabs li a span{ display:none; }
.nav-tabs.protabs > li:first-child.active > a { padding-left:20px;}
	
.wrapbox {transition:all 0.5s ease 0s}
.navbar .nav {-webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%);transition: all 0.5s ease 0s;width: 200px; float: none;position: fixed;top: 0px;left: 0px;margin-left: 0px;padding: 50px 0px 20px; height:100%; background:#333333;}
.navbar-nav > li {display: block; float: none; padding: 0px 0px; border-bottom: 1px solid rgba(255,255,255,0.3);}
.wowmenu.tiny .navbar-nav > li > a, .navbar-nav > li > a { padding:12px 10px; color:#ffffff !important; margin:0px; line-height:20px;}
.navbar-nav > li > a:hover { background:#666666 !important}
.navbar-nav > li.active > a::before, .navbar-nav > li > a:hover::before, .navbar-nav > li > a:focus::before, .extra-nav-class a.dropdown-toggle::before { content: none;}
.pageheader-default, #c-slide { margin-top: 0px; padding-top:80px; }
.wrapbox.res-nav { transform: translate(200px, 0px); }
.afterlogin, .toplogin {float: left;position: absolute;top: -128px;right: 5px;}
.btn { margin-bottom:15px;}

.labelbox { width:50%; margin-bottom:15px;}
.labelbox:last-child { margin:0 auto; clear:both; float:none;}
.profilepage .panel.mychart { min-height:auto}
.carousel-control.left, .carousel-control.right.item { bottom:auto; min-height:90px !important; padding:0px !important; margin-top:25%;}

}
@media screen and (min-width:768px) and (max-width:1023px) { 
.navbar #brand { margin-top:-68px; }
.navbar-brand { margin-top:-40px; }
.tinynav { margin-bottom:10px; }
.wowmenu.tiny .navbar-brand img{ max-width:70px; margin-top:5px; }
.wowmenu.tiny .topsearch, .wowmenu.tiny .toplogin { display:none }
.navbar-toggle { margin-top:5px; margin-left:10px;}
.topsearch { display:none}
.navbar > .container .navbar-brand { margin:0px auto; display:block; float:none; text-align:center}
.navbar > .container .navbar-brand img{ display:inline }
.navbar #brand, .navbar-default #brand {margin: -67px auto 0px auto; position:relative}
.toplogin { margin-right:20px; }
.copyright .row {margin: 0px 0px;}
.carousel-control.left, .carousel-control.right.item { bottom:auto; min-height:90px !important; padding:0px !important; margin-top:25%;}
.pageheader-default .pro { width:80%}

.protabs li a { font-size:18px;}
.protabs li a span{  font-size:12px; }
.nav-tabs.protabs > li:first-child.active > a { padding-left:20px;}

.navbar-header { float:none }
.navbar-toggle { display:block}
	
.wrapbox {transition:all 0.5s ease 0s}
.navbar .nav {-webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%);transition: all 0.5s ease 0s;width: 200px; float: none;position: fixed;top: 0px;left: 0px;margin-left: 0px;padding: 50px 0px 20px; height:100%; background:#333333;}
.navbar-nav > li {display: block; float: none; padding: 0px 0px; border-bottom: 1px solid rgba(255,255,255,0.3);}
.wowmenu.tiny .navbar-nav > li > a, .navbar-nav > li > a { padding:12px 10px; color:#ffffff !important; margin:0px; line-height:20px;}
.navbar-nav > li > a:hover { background:#666666 !important}
.navbar-nav > li.active > a::before, .navbar-nav > li > a:hover::before, .navbar-nav > li > a:focus::before, .extra-nav-class a.dropdown-toggle::before { content: none;}
.pageheader-default, #c-slide { margin-top: 0px; padding-top:80px; }
.wrapbox.res-nav { transform: translate(200px, 0px); }

.afterlogin { margin-right:20px; margin-left:0px;}
.btn { margin-bottom:15px;}
.profilepage .panel.mychart { min-height:275px;}
}
@media screen and (max-width:600px) {
    .tinynav { margin-top:0px;  }
    .container > .navbar-header { text-align:center }
    .navbar { padding-top:0px; } 
    .navbar > .container .navbar-brand { float:none; margin-top:-68px !important; text-align:center }
    .navbar > .container .navbar-brand img{ display:inline-block; margin-top:20px; }
    .navbar-fixed-top .row .col-md-5 { padding:0px 15px; }
    .tinynav { margin-left:0px; }
    .boxcontainer { margin-bottom:30px; }
    .navbar-fixed-top .row .col-xs-3 { width:100%; margin-top:30px; text-align:center }
    .navbar-fixed-top .navbar-brand { margin:0px 0px 30px 0px !important; display:block; height:auto }
    .topsearch { display:none }
    .caption .row, .caption .row > div { margin-bottom:10px; }
	.navbar-header {/*position: absolute;top: -70px; left: 60px;*/}
	.navbar #brand, .navbar-default #brand {margin: -142px auto 0px auto; position:relative}
	.navbar-default .navbar-toggle { margin-left:20px; z-index:9999}
	.wrapbox { transition:all 0.5s ease;}
	.navbar-nav > li.active > a::before, .navbar-nav > li > a:hover::before, .navbar-nav > li > a:focus::before, .extra-nav-class a.dropdown-toggle::befor { content: none;}
	.copyright .row {margin: 0px 0px;}
	.pageheader-default .pro { width:80%}

.nav-tabs.nav-justified.protabs { padding-right:10px;}
.nav.protabs > li { display:table-cell; width:1%;}
.protabs li a { font-size:13px; padding:5px 0px 5px 25px; }
.nav-tabs.protabs > li:first-child.active > a { padding-left:10px;}

.protabs li a:before { border-width: 18px;}
.protabs li a:after { border-width: 14px;}
.protabs li a span{ display:none; }

	
	.teacherbox a { margin:10px 0px 0px; display:block}
	.wrapbox {transition:all 0.5s ease 0s}
.navbar .nav {-webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%);transition: all 0.5s ease 0s;width: 200px; float: none;position: fixed;top: 0px;left: 0px;margin-left: 0px;padding: 50px 0px 20px; height:100%; background:#333333;}
.navbar-nav > li {display: block; float: none; padding: 0px 0px; border-bottom: 1px solid rgba(255,255,255,0.3);}
.wowmenu.tiny .navbar-nav > li > a, .navbar-nav > li > a { padding:12px 10px; color:#ffffff !important; margin:0px; line-height:20px;}
.navbar-nav > li > a:hover { background:#666666 !important}
.navbar-nav > li.active > a::before, .navbar-nav > li > a:hover::before, .navbar-nav > li > a:focus::before, .extra-nav-class a.dropdown-toggle::before { content: none;}
.pageheader-default, #c-slide { margin-top: 0px !important; padding-top:80px; }
.wrapbox.res-nav { transform: translate(200px, 0px); }

.afterlogin, .toplogin {float: left;position: absolute;top: -128px;right: 20px;}
.afterlogin span { display:none;  }

.tabcontent .nav-tabs > li > a{ font-size:12px; padding:10px 10px; text-transform:none; width:85px; text-align:center}
.tabcontent .nav-tabs > li > a i { display:block; padding:5px 0px; }

.btn { margin-bottom:15px;}

ul.icons li { margin-bottom:20px;}
.labelbox { width:50%; margin-bottom:15px;}
.labelbox:last-child { margin:0 auto; clear:both; float:none;}
.labelbox a .fa { font-size:30px;}
.profilepage .panel.mychart { min-height:auto}
.carousel-control.left, .carousel-control.right.item { bottom:auto; min-height:90px !important; padding:0px !important; margin-top:70%;}
}
.homenote-field-error{
display: block;
margin-top: 5px;
margin-bottom: 10px;
color: red;
}


.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  cursor: default;
  font-weight: bold;
  color:#C94B3A !important;
}
.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}
/*@media screen and (max-width:676px) { 
.tinynav { margin-top:0px; }
.navbar > .container .navbar-brand { margin-top:-15px; margin-bottom:50px; margin-left:10px; }
.navbar-brand img { max-width:90%; }
}*/