
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Teacher's Details</h1>
		<p class="animated fadeInRightBig container page-description">
			 Step 1 : Personal  Details  </p>
        <div class="pro">
        	<div class="progress">
            	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                	<span>10% Complete (success)</span>
                </div>
            </div>     
        </div>    
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			
    		<section>	
            	<div class="container">
            		<div class="row" ng-show="formData.profile_type != 2">
                    	<div class="col-md-12">
                        	<ul class="nav nav-tabs nav-justified protabs">
                              <li class="active"><a href="#">Step 1 <span>Personal Details</span></a></li>
                              <li><a href="#">Step 2 <span>Professional Details</span></a></li>
                              <li><a href="#">Step 3 <span>Upload Video</span></a></li>
                              <li><a href="#">Step 4 <span>Profile Complete</span></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="row" ng-show="formData.profile_type == 2">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs nav-justified protabs">
                              <li class="active"><a href="#">Step 1 <span>Personal Details</span></a></li>
                              <li><a href="#">Step 2 <span>Profile Complete</span></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <!--row end-->
                    <form class="form-horizontal" name="teacherForm" role="form" ng-submit="firstAddTeacher(teacherForm.$valid)"  ngEnter="firstAddTeacher(teacherForm.$valid)">
                    <div class="row topspace30">
                    	<div class="col-md-6">
                        	<div class="form-group" show-errors>
                            	<label class="col-md-4 control-label">Username:</label>
                                <div class="col-md-8" >
                                	<input class="form-control" type="text" name="username" ng-model="formData.username" required>
                                    <p class="help-block" ng-if="teacherForm.username.$error">Username is required</p>
                                </div>
                            </div>
                            <div class="form-group" show-errors>
                            	<label class="col-md-4 control-label">Password:</label>
                                <div class="col-md-8"><input class="form-control" name="password" type="password" ng-model="formData.password" required>
                                <p class="help-block" ng-if="teacherForm.password.$error">Password is required</p></div>
                            </div>
                            <div class="form-group" show-errors>
                             	<label class="col-md-4 control-label">Confirm password:</label>
                                <div class="col-md-8" >
                                	<input class="form-control" type="password" name="confirm_password" ng-model="formData.check_password"  required>
                                    <p class="help-block" ng-if="teacherForm.confirm_password.$error">Kindly Confirm the password</p>
                                </div>
                            </div>
                            <div class="form-group" show-errors>
                            	<label class="col-md-4 control-label">First name:</label>
                                <div class="col-md-8"><input class="form-control" name="first_name" type="text" ng-model="formData.first_name" required>
                                    <p class="help-block" ng-if="teacherForm.first_name.$error">First Name is required</p></div>
                            </div>
                            <div class="form-group" show-errors>
                            	<label class="col-md-4 control-label">Last name:</label>
                                <div class="col-md-8"><input class="form-control" name="last_name" type="text" ng-model="formData.last_name" required><p class="help-block" ng-if="teacherForm.last_name.$error">Last Name is required</p></div>
                            </div>
                            <div class="form-group" show-errors>
                            	<label class="col-md-4 control-label">Email:</label>
                                <div class="col-md-8">
                                	<input class="form-control" type="text" name="email" ng-model="formData.email" ng-pattern="REGEX_EMAIL" required>
                                   <p class="help-block" ng-if="teacherForm.email.$error">The Email should be valied and it is required</p>
                                </div>
                            </div>
                            
                        </div>
                        <!--part end-->
                        <div class="col-md-6">
                        	<div class="form-group" show-errors>
                            	<label  class="col-md-4 control-label">Address</label>
                                <div class="col-md-8">
                                	<input type="text" class="form-control" name="address" ng-model="formData.address" required></input><p class="help-block" ng-if="teacherForm.address.$error">Address is required</p>
                                </div>
                            </div> 
                            <div class="form-group" show-errors>
                            	<label class="col-md-4 control-label">County</label>
                                <div class="col-md-8">
                                	<select ng-model="formData.country_iso3" name="country" chosen  class="chosen-select form-control"  ng-options="item.code as item.name for item in countryList" ng-change="onCountryChange()" required>
                                    	<option value="">Country</option>
                                    </select>
                                    <p class="help-block" ng-if="teacherForm.country.$error">Country is required</p>
                                </div>
                            </div>
                            <div class="form-group" show-errors>
                            	<label class="col-md-4 control-label">State</label>
                                <div class="col-md-8">
                                	<select chosen  data-placeholder="Choose a State" name="state" ng-model="formData.state"  class="form-control" ng-options="item as item for item in stateList" required>
                                    	<option value=""></option>
                                    </select>
                                    <p class="help-block" ng-if="teacherForm.state.$error">State is required</p>
                                </div>
                            </div> 
                            <div class="form-group" show-errors>
                            	<label class="col-md-4 control-label">City</label>
                                <div class="col-md-8">
                                	<input type="text" class="form-control" id="city" name="city" ng-model="formData.city" required>
                                    <p class="help-block" ng-if="teacherForm.city.$error">City is required</p>
                                </div>
                            </div>
                            <div class="form-group" show-errors>
                            	<label class="col-md-4 control-label">Post Code</label>
                                <div class="col-md-8">
                                	<input type="text" class="form-control" id="post_code" name="post_code" ng-model="formData.post_code" required>
                                    <p class="help-block" ng-if="teacherForm.post_code.$error">Post Code is required</p>
                                </div>
                            </div> 
                        	<div class="form-group">
                            	<label class="col-md-4 control-label">Upload Profile Picture:</label>
                                <div class="col-md-8" class="form-group">
                                	 <input type="file" class="form-control" id="profile_pic">
                                </div>
                            </div>
                            <div class="form-group">
                            	<label class="col-md-4"></label>
                                <div class="col-md-8">
                                	<img ng-src="{{formData.pic_url}}"  id="avatar_url" class="avatar img-circle" alt="avatar" style="height:200px;width:200px;">
                                </div>
                            </div>
                        </div>
                        <!--part end-->
                        
                        <div class="col-md-12 topspace30 bottomspace30 text-center">
                             <input type="button" class="btn btn-default" value="Reset" ng-click="resetTeacherForm()"/>
                             <input type="button" class="btn btn-default" value="Next" ng-click="firstAddTeacher(teacherForm.$valid)"/>
                        </div>
                        
                    </div>
                    </form>
                    <!--row end-->
                    
				</div>
			</section>
      </div>
      <script>
      function readURL(input, id) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#'+id).attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile_pic").change(function(){
    readURL(this, 'avatar_url');
});

/*$(document).ready(function(){

$("#mm").click(function() {
 //alert("tt");
 $(".wrapbox").toggleClass("res-nav");
});
})*/;
      </script>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
