
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Teacher's Details</h1>
        <div class="pro">
        	<div class="progress">
            	<div style="width: 100%;background-color: #5cb85c;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                	<span>100% Complete (success)</span>
                </div>
            </div>     
        </div>    
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			
    		<section>	
            	<div class="container">
            		<div class="row">
                    	<div class="col-md-12">
                        	<ul class="nav nav-tabs nav-justified protabs">
                              <li><a href="#">Step 1 <span>Personal Details</span></a></li>
                              <li><a href="#">Step 2 <span>Professional Details</span></a></li>
                              <li><a href="#">Step 3 <span>Upload Video</span></a></li>
                              <li class="active"><a href="#">Step 4 <span>Profile Complete</span></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <!--row end-->
                    <div class="row topspace30">
                    	<div class="col-md-12 text-center">
                        	<h1 class="text-success">Application Complete!</h1>
                            <hr />
                            <p style="
    font-weight: bold;
    font-size: initial;
">...And that's it! Thank you for your information and we look forward to welcoming you to our team! </p>
                            <h3 class="small-title" style="
    text-align: left;
">Noteworthy points:</h1>
                            <ul class="list" style="
    text-align: left;
">
                                  <li>To ensure we have a fair and unbiased process, your application will be reviewed by an external Music School we've partnered with namely Music International.</li>
                                    <li>Your application is not a confirmation of being a HomeNote teacher.</li>
                                    <li>We will revert to you within 7 working days with an acceptance or regret.</li>
                                    
                                </ul>
                            <p></br>





                        </div>
                        <!--part end-->
                        
                    </div>
                    <!--row end-->
                    
				</div>
			</section>
      </div>
      <script>
      function readURL(input, id) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#'+id).attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile_pic").change(function(){
    readURL(this, 'avatar_url');
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
      </script>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
