
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Teacher's Details</h1>
		<p class="animated fadeInRightBig container page-description">
			 Please Give us your Personal and Professional Details<br/>
			to arrange your classes with Home Note.
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			<!-- Begin Form 1 -->
    		<section class="container topspace10">	
            	<div class="row">
                    <div class="col-md-12 animated fadeInLeft notransition">
                        <!--Begin Tabs 3-->
                        
                        <form class="form-horizontal" name="teacherForm" novalidate ngEnter="addTeacher()">
                        
                            	<tabset>
                            		<tab><tab-heading>
                           <i class="icon-tags"></i> Personal Details</tab-heading>
                                <div class="row">
                                    <div class="col-md-6">                                    	
                                      <div class="form-group">
                                        <label  class="col-sm-4 control-label">First Name</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control" ng-model="teacher.first_name" required></input>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label">Last Name</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control" ng-model="teacher.last_name" required></input>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label">Email</label>
                                        <div class="col-sm-8">
                                          <input type="email" class="form-control" id="email" ng-model ="teacher.email" required>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label">Phone</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control" name="phone" data-phone ng-model = "teacher.phone_number" required>
                                          <p ng-show="form.phone.$error.phoneField">Please enter a valid phone number.</p>        
                                        </div>
                                      </div>              
                                    </div>
                                    <div class="col-md-6">                                    	
                                        <div class="form-group">
                                        <label  class="col-sm-4 control-label">Address</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control" ng-model="teacher.address" required></input>
                                        </div>
                                      </div> 
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label">County</label>
                                        <div class="col-sm-8">
                                        <select ng-model="teacher.country_iso3" chosen  class="chosen-select form-control"  ng-options="item.code as item.name for item in countryList" ng-change="onCountryChange()" required>
                                        <option value="">Country</option>
                                        </select>
                                        
                                        </div>
                                        </div>
                                         <div class="form-group">
                                        <label class="col-sm-4 control-label">State</label>
                                     
                                        <div class="col-sm-8">
                                        <select chosen  data-placeholder="Choose a State" ng-model="teacher.state"  class="form-control" ng-options="item as item for item in stateList" required>
                                        <option value=""></option>
                                        </select>
                                        
                                        </div>
                                      </div> 
                                      <div class="form-group">
                                        <label class="col-sm-4 control-label">City</label>
                                        <div class="col-sm-8">
                                           <input type="text" class="form-control" id="city" ng-model="teacher.city" required>
                                        </div>
                                      </div>
                                     
                                        
                                      
                                        <div class="form-group">
                                        <label class="col-sm-4 control-label">Post Code</label>
                                        <div class="col-sm-8">
                                           <input type="text" class="form-control" id="post_code" ng-model="teacher.post_code" required>
                                        </div>
                                      </div> 
                                          <div class="row pull-right">
        <a type="button" class="btn btn-primary"  href ng-disabled="teacherForm.$invalid"  ng-click="addTeacher()">Save</a>
                <a class="btn btn-default" type="button" >Cancel</a>
        
      </div>                   
                                    </div>
                                </div>

                            </tab>
                           <tab>
                           	 <tab-heading><i class="icon-user"></i> Professional Details</tab-heading>
                                <div class="row">
                                    <div class="col-md-6">                                    	
                                      <div class="form-group">
                                        <label for="Instrument" class="col-sm-4 control-label">Instrument </label>
                                        <div class="col-sm-8">
                                          <select ng-model="teacher.instrument"  multiple chosen  class="chosen-select form-control"  ng-options="item.code as item.name for item in instrumentList"
                                          options-disabled="item.disabled for item in instrumentList" required>
                                            <option value=""></option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="LanguageSpeak" class="col-sm-4 control-label">Language Speak</label>
                                        <div class="col-sm-8">
                                            <select ng-model="teacher.languageSpeak"  multiple chosen  class="chosen-select form-control"  ng-options="item.code as item.name for item in languageList" required>
                                            <option value=""></option>
                                          </select>
                                          
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="Rate" class="col-sm-4 control-label">Rate/hr</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control" id="Rate" ng-model ="teacher.rate" required>
                                        </div>
                                      </div>                        
                                      <div class="form-group" ng-repeat="certification in teacher.certifications">
                                        <div class="col-sm-1" >
                                        <div class="icon-addon addon-sm" ng-hide="$last">
                                        <span ng-click="removecertification(certification)" style="color:red" class="col-sm-1 glyphicon glyphicon-minus-sign"></span>
                                          </div>
                                      </div>

                                        <label for="certification " class="col-sm-4 control-label">Certification  </label>
                                        <div class="col-sm-6">
                                          <input type="file" multiple="multiple" class="form-control" fileread="certification.file" id="certification-file{{$index}}" required>
                                        </div>
                                        <div class="col-sm-1" >
                                        <div class="icon-addon addon-sm" ng-show="$last">
                                        <span ng-click="addCertificationRow(certification)" style="color:green" class=" col-sm-1 glyphicon glyphicon-plus-sign"></span>
                                          </div>
                                      </div>

                                       
                                      </div>
                                    </div>
                                    <div class="col-md-6">                                    	
                                      <div class="form-group">
                                        <label for="Qualification" class="col-sm-4 control-label">Qualification</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control" id="Certification" ng-model="teacher.qualification">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="About" class="col-sm-4 control-label">About</label>
                                        <div class="col-sm-8">
                                          <textarea name="about" class="form-control" ng-model="teacher.about" required></textarea>
                                        </div>
                                      </div>
                                       <div class="form-group">
                                        <label for="About" class="col-sm-4 control-label">Teaching style:</label>
                                        <div class="col-sm-8">
                                          <textarea name="about" class="form-control" ng-model="teacher.teachingstyle" required></textarea>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="About" class="col-sm-4 control-label">Anything else:</label>
                                        <div class="col-sm-8">
                                          <textarea name="about" class="form-control" ng-model="teacher.anythingelse"></textarea>
                                        </div>
                                      </div>
                                       
                                      <div class="form-group">
                                        <label for="Upload Video" class="col-sm-4 control-label">Upload Video</label>
                                        <div class="col-sm-8">
                                          <input type="file" class="" id="upload-Video" required>
                                        </div>
                                      </div>
                                       <div class="form-group">
                                          <div class="checkbox">
                                        <div class="col-lg-3">
                                        </div>
                                        <label class="col-lg-4 control-label"><input type="checkbox" name="isTrial" ng-model="teacher.isTrial">Trial Provided ?</label>
                                       <input type="hidden" class="" ng-model="teaher.video_url" />
                                       <input type="hidden" class="" ng-model="teaher.video_type"/>
                                      </div>
                                    </div>
                                     <div class="row pull-right">
        <a type="button" class="btn btn-primary" ng-disabled="teacherForm.$invalid"  href ng-click="addTeacher()">Save</a>
                <a class="btn btn-default" type="button" >Cancel</a>
        
      </div>
                                    </div>
                                </div>
                               
                            </tab>
                        </tabset>
                        </form>
                        <!--End Tabs 3-->
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-12">&nbsp;</div>
                </div>    
			
			</section>
    	</div>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
