
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Teacher's Details</h1>
		<p class="animated fadeInRightBig container page-description">
			Step 3 : Upload your introductory video </p>
        <div class="pro">
        	<div class="progress">
            	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                	<span>75% Complete (success)</span>
                </div>
            </div>     
        </div>    
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			
    		<section>	
            	<div class="container">
            		<div class="row">
                    	<div class="col-md-12">
                        	<ul class="nav nav-tabs nav-justified protabs">
                              <li><a href="#">Step 1 <span>Personal Details</span></a></li>
                              <li><a href="#">Step 2 <span>Professional Details</span></a></li>
                              <li class="active"><a href="#">Step 3 <span>Upload Video</span></a></li>
                              <li><a href="#">Step 4 <span>Profile Complete</span></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <!--row end-->
                    <form class="form-horizontal" name="registerForm" role="form" ng-submit="submit()"  ngEnter="submit()">
                    <div class="row topspace30">
                    	<div class="col-md-6 bottomspace30">
                        	<div class="upvideo">
                            	<p><i class="icon-3x icon-facetime-video"></i></p>
                            	<p>Upload Video</p>
                               <p style="
    font-size: 16px;
    color: #F04E26;">Supports MP4 Video Only!</p>
                                <p><input type="file" class="" id="upload-Video" required></p>
                                <input type="hidden" class="" ng-model="teaher.video_url" />
                                       <input type="hidden" class="" ng-model="teaher.video_type"/>
                            </div>
                        </div>
                        <!--part end-->
                        <div class="col-md-6">
                        	<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
                                            <div class="embed-responsive embed-responsive-16by9">
                                               
                                              <!-- <source src="devstories.webm" 
                                                      type='video/webm;codecs="vp8, vorbis"'/> -->
                                              <video ng-src="{{trustSrc(teacher.video_url)}}"
                                                      type="{{trustSrc(teahcer.video_type)}}" controls>

                                            </video>
                                                                                          
                                            <!-- <iframe class="embed-responsive-item" src="{{teacher.video_url}}" allowfullscreen=""></iframe> -->
                                            </div>
                                          </div>
                        </div>
                        <!--part end-->
                        
                        <div class="col-md-12 topspace30 text-center">
                             <input type="button" class="btn btn-default" value="Previous" ng-click="teacherPageTwo()"/>
                             <input type="button" class="btn btn-primary" value="Save Draft" ng-click="thirdAddTeacher()" />
                             <input type="button" class="btn btn-default" value="Next" ng-click="thirdAddTeacher()"/>
                        </div>
                        
                    </div>
                    </form>
                    <!--row end-->
                    
				</div>
			</section>
      </div>
      <script>
      function readURL(input, id) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#'+id).attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile_pic").change(function(){
    readURL(this, 'avatar_url');
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
      </script>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
