
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Teacher's Details</h1>
		<p class="animated fadeInRightBig container page-description">
			 Step 2 :Professional Details </p>
        <div class="pro">
        	<div class="progress">
            	<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                	<span>50% Complete (success)</span>
                </div>
            </div>     
        </div>    
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			
    		<section>	
            	<div class="container">
            		<div class="row">
                    	<div class="col-md-12">
                        	<ul class="nav nav-tabs nav-justified protabs">
                              <li><a href="#">Step 1 <span>Personal Details</span></a></li>
                              <li class="active"><a href="#">Step 2 <span>Professional Details</span></a></li>
                              <li><a href="#">Step 3 <span>Upload Video</span></a></li>
                              <li><a href="#">Step 4 <span>Profile Complete</span></a></li>
                            </ul>
                        </div>                        
                    </div>
                    <!--row end-->
                    <form class="form-horizontal" name="teacherForm" role="form" ng-submit="secondAddTeacher(teacherForm.$valid)"  ngEnter="secondAddTeacher(teacherForm.$valid)">
                    <div class="row topspace30">
                    	<div class="col-sm-10 col-md-6">
                        	<div class="form-group" show-errors>
                                        <label for="Instrument" class="col-sm-4 control-label">Instrument </label>
                                        <div class="col-sm-8">
                                          <select ng-model="teacher.instrument"  name="instrument" multiple chosen  class="chosen-select form-control"  ng-options="item.code as item.name for item in instrumentList"
                                          options-disabled="item.disabled for item in instrumentList" required>
                                            <option value="" ></option>
                                          </select>
                                           <p class="help-block" ng-if="teacherForm.instrument.$error">Instrument is required</p>
                                        </div>
                                      </div>
                            <div class="form-group infoicon" show-errors>
                            	<label for="LanguageSpeak" class="col-sm-4 control-label">Language Speak</label>
                                <div class="col-sm-8">
                                	
                                     <select ng-model="teacher.languageSpeak"  multiple chosen  class="chosen-select form-control pull-left"  name="languageSpeak" ng-options="item.code as item.name for item in languageList" required>
                                            <option value=""></option>
                                          </select>
                                          <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Language/s spoken or preferred"><i class="icon-info"></i></button>
                                           <p class="help-block" ng-if="teacherForm.languageSpeak.$error">Language is required</p>
                                	
                                </div>
                            </div>
                            <div class="form-group infoicon" show-errors>
                            	<label for="Rate" class="col-sm-4 control-label">Rate/hr</label>
                                <div class="col-sm-8"><input type="text" class="form-control" ng-model ="teacher.rate"  id="Rate" name="rate" required/><button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Amount you’d like to earn per hour in USD"><i class="icon-info"></i></button>
                                 <p class="help-block" ng-if="teacherForm.rate.$error">Rate is required</p></div>
                            </div>                        
                            <div class="form-group" show-errors>
                            	<label class="col-sm-4 control-label">Qualification  </label>
                                <div class="col-sm-8"><input type="text" class="form-control" id="Qualification" ng-model="teacher.qualification" name="qualification" required>
                                <p class="help-block" ng-if="teacherForm.qualification.$error">Qualification is required</p></div>
                            </div>
                            <div class="form-group" ng-repeat="certification in teacher.certifications">
                            	<label for="certification " class="col-sm-4 control-label">Certification  {{$index+1}}</label>
                                <div class="col-sm-7">
                                	<input type="file" multiple="multiple" class="form-control" fileread="certification.file" id="certification-file{{$index}}" required>
                                </div>
                                <div class="col-sm-1">
                                	<div class="icon-addon" ng-hide="$last">
                                    	<span ng-click="removeCertification(certification)" style="color:red" class="glyphicon glyphicon-minus-sign"></span>
                                    </div>
                                    <div class="icon-addon" ng-show="$last">
                                    	<span ng-click="addCertificationRow(certification)" style="color:green" class="glyphicon glyphicon-plus-sign"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--part end-->
                        <div class="col-sm-10 col-md-6">
                        	 
                            <div class="form-group" >
                                        <label for="About" class="col-sm-4 control-label">About</label>
                                        <div class="col-sm-8">
                                          <textarea name="about" class="form-control" ng-model="teacher.about" ></textarea>
                                          
                                        </div>
                                      </div>
                                       <div class="form-group">
                                        <label for="About" class="col-sm-4 control-label">Teaching style:</label>
                                        <div class="col-sm-8">
                                          <textarea name="about" class="form-control" ng-model="teacher.teachingstyle" required></textarea>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="About" class="col-sm-4 control-label">Anything else:</label>
                                        <div class="col-sm-8">
                                          <textarea name="about" class="form-control" ng-model="teacher.anythingelse"></textarea>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="checkbox">
                                        <div class="col-sm-3">
                                        </div>
                                        <label class="col-sm-4 control-label"><input type="checkbox" name="isTrial" ng-model="teacher.isTrial">Trial Provided ?</label>
                                       
                                      </div>
                                    </div>
                        </div>
                        <!--part end-->
                        
                        <div class="col-sm-12 col-md-12 topspace30 bottomspace30 text-center">
                             <input type="button" class="btn btn-default" value="Previous" ng-click="teacherPageOne()"/>
                             <input type="button" class="btn btn-primary" value="Save Draft" ng-click="secondAddTeacher(teacherForm.$valid)"/>
                             <input type="button" class="btn btn-default" value="Next" ng-click="secondAddTeacher(teacherForm.$valid)"/>
                        </div>
                        
                    </div>
                    </form>
                    <!--row end-->
                    
				</div>
			</section>
      </div>
      <script>
      function readURL(input, id) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#'+id).attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile_pic").change(function(){
    readURL(this, 'avatar_url');
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
      </script>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
