
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Welcome To Home Note !</h1>
		<p class="animated fadeInRightBig container page-description">
			 

<p>Thank you for chosing home note. </p><p>Introduction of Home Note </p><p>To Know more kindly check <a href ui-sref="howitworks"style="
    color: #555555;
">HOW IT WORKS</a></p>
<div class="fadein scaleInv anim_1">
							<p class="carouselText2 animated fadeInLeft">
								 <a href="/login" class="btn btn-danger">Continue with Home Note</a> 
							</p>
						</div>
	</div>
	</section>
	
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
