<!--div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content"-->
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Create Session</h4>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                                <label for="recipient-name" class="control-label">Subject:</label>
                                                <input type="text" class="form-control" ng-model="session.title">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">Instrument:</label>
                                                
                                                <select ng-model="session.instrument"   chosen  class="chosen-select form-control"  ng-options="item.code as item.name for item in instrumentList"
                                                required>
                                                  <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="control-label">Skill:</label>
                                                
                                                <select ng-model="session.skill_level"   chosen  class="chosen-select form-control"  ng-options="item.code as item.name for item in skillLevelList"
                                                required>
                                                  <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text"  class="control-label">Start Date :</label>
                                                <input type="date" class="form-control " ng-model="session.start_date">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">End Date:</label>
                                                <input type="date" class="form-control "   ng-model="session.end_date">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text"  class="control-label">Start Time :</label>
                                                <input type="time" class="form-control " ng-model="session.start_time">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">End Time:</label>
                                                <input type="time" class="form-control "   ng-model="session.end_time">
                                            </div>
                                        </div>
                                        <!--div class="col-md-6">
                                          <div class="form-group">
                                                <label for="recipient-name" class="control-label">Session Length:</label>
                                                <input class="form-control" id="recipient-name">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">Language:</label>
                                                <input class="form-control" id="recipient-name">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">Audience:</label>
                                                <input class="form-control" id="recipient-name">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">Rate/Hr:</label>
                                                <input class="form-control" id="recipient-name">
                                            </div>
                                        </div-->
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <div class="checkbox">
                                              <div class="row">
                                              <label class=" control-label"><input type="checkbox" name="profileType" ng-model="session.monday">Monday</label>
                                            </div>
                                            <div class="row">
                                              <label class=" control-label"><input type="checkbox" name="profileType" ng-model="session.tuesday">Tuesday</label>
                                            </div>
                                            <div class="row">
                                              <label class=" control-label"><input type="checkbox" name="profileType" ng-model="session.wednesday">Wednesday</label>
                                            </div>
                                            <div class="row">
                                              <label class=" control-label"><input type="checkbox" name="profileType" ng-model="session.thursday">Thursday</label>
                                            </div>
                                            <div class="row">
                                              <label class=" control-label"><input type="checkbox" name="profileType" ng-model="session.friday">Friday</label>
                                            </div>
                                            <div class="row">
                                              <label class=" control-label"><input type="checkbox" name="profileType" ng-model="session.saturday">Saturday</label>
                                            </div>
                                            <div class="row">
                                              <label class=" control-label"><input type="checkbox" name="profileType" ng-model="session.sunday">Sunday</label>
                                            </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="create()">Create</button>
                              </div>
                            
                        
                       <!--modal end--> 
    