<section class="carousel carousel-fade slide home-slider" id="c-slide" data-ride="carousel" data-interval="8500" data-pause="true">
	<ol class="carousel-indicators">
		<li data-target="#c-slide" data-slide-to="0" class="active"></li>
		<li data-target="#c-slide" data-slide-to="1" class=""></li>
		<li data-target="#c-slide" data-slide-to="2" class=""></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active" style="background: url(../static/img/banner1.jpg);">
			<div class="container">
				<div class="row">
                	<div class="col-md-6"></div>
					<div class="col-md-6 fadein scaleInv anim_1 topspace50 text-right">
						<div class="fadein scaleInv anim_2">
							<h1 class="carouselText1 animated fadeInUpBig">Music <span class="colortext">Online</span></h1>
						</div>
						<div class="fadein scaleInv anim_1">
							<p class="carouselText2 animated fadeInLeft">
								 <a href="#" class="btn btn-danger">I Want To Learn</a> <a ui-sref="beforeteach" href class="btn btn-default">I Want To Teach</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item" style="background: url(http://www.wowthemes.net/demo/calypso/img/demo/slide1.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-6 animated fadeInUp notransition">
						<img src="http://www.wowthemes.net/demo/calypso/img/demo/desktop3.png" alt="" style="width:90%;">
					</div>
					<div class="col-md-6 animated fadeInDown  notransition topspace30 text-right">
						<div class="car-highlight1 animated fadeInLeftBig">
							 Add ANYTHING in Slider
						</div>
						<br>
						<div class="car-highlight2 animated fadeInRightBig notransition">
							 Powerful Options
						</div>
						<br>
						<div class="car-highlight3 animated fadeInUpBig notransition">
							 Video, Audio, Text, Iframes etc
						</div>
						<br>
						<div class="car-highlight4 animated flipInX notransition">
							 Any HTML5 code you wish
						</div>
						<br>
						<div class="car-highlight5 animated rollIn notransition">
							 Slider with <span class="font100">Total Control</span><br>
							<span class="font100" style="font-size:20px;">Embed Practically</span> Anything<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item" style="background: url(http://www.wowthemes.net/demo/calypso/img/demo/slide3.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<br>
						<br>
						<div class="animated fadeInDownBig notransition">
							<span class="car-largetext">Vivid Skins <span class="font300">&amp; Three</span> Layouts</span><br>
						</div>
						<br>
						<br>
						<div class="car-widecircle animated fadeInLeftBig notransition">
							<span>Wide</span>
						</div>
						<div class="car-middlecircle animated fadeInUpBig notransition">
							<span>Boxed</span>
						</div>
						<div class="car-smallcircle animated fadeInRightBig notransition">
							<span>Narrow</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.carousel-inner -->
	<a class="left carousel-control animated fadeInLeft" href="#c-slide" data-slide="prev"><i class="icon-angle-left"></i></a>
	<a class="right carousel-control animated fadeInRight" href="#c-slide" data-slide="next"><i class="icon-angle-right"></i></a>
	</section>
	<!-- /.carousel end-->
	
	<!-- /.wrapsemibox start-->
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- INTRO NOTE
================================================== -->
		<section class="intro-note topspace10">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Take Music Lessons <span class="colortext">Online</span> over live video </h1>
					<p>
						 Looking to learn from scratch, advance your music skills, or become a pro?  <br> No matter where you are in your music journey
					</p>
				</div>
			</div>
		</div>
		</section>
		<!-- /.intro-note end-->
		<!-- SERVICE BOXES
================================================== -->
		<section class="service-box topspace30">
		<div class="container">
			<div class="row">
				<div class="col-md-3 text-center animated fadeInLeftNow notransition">
					<div class="icon-box-top">
						<i class="fontawesome-icon medium circle-white center icon-violin"></i>
						<h1>Violin Lessons</h1>
						<p>
							 Lorem ipsum dolor sit adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus.
						</p>
						<p class="fontupper">
							<a href="#" class="readmore">Read More <i class="icon-double-angle-right"></i></a>
						</p>
					</div>
				</div>
				<div class="col-md-3 text-center animated fadeInLeftNow notransition">
					<div class="icon-box-top">
						<i class="fontawesome-icon medium circle-white center icon-piano"></i>
						<h1>Piano</h1>
						<p>
							 Lorem ipsum dolor sit adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus.
						</p>
						<p class="fontupper">
							<a href="#" class="readmore">Read More <i class="icon-double-angle-right"></i></a>
						</p>
					</div>
				</div>
				<div class="col-md-3 text-center animated fadeInRightNow notransition">
					<div class="icon-box-top">
						<i class="fontawesome-icon medium circle-white center icon-guitar"></i>
						<h1>Guitar</h1>
						<p>
							 Lorem ipsum dolor sit adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus.
						</p>
						<p class="fontupper">
							<a href="#" class="readmore">Read More <i class="icon-double-angle-right"></i></a>
						</p>
					</div>
				</div>
				<div class="col-md-3 text-center animated fadeInRightNow notransition">
					<div class="icon-box-top">
						<i class="fontawesome-icon medium circle-white center icon-trumpet"></i>
						<h1>Trumpet</h1>
						<p>
							 Lorem ipsum dolor sit adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus.
						</p>
						<p class="fontupper">
							<a href="#" class="readmore">Read More <i class="icon-double-angle-right"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		</section>
		<!-- /.service-box end-->
		<!-- RECENT WORK
================================================== -->
		<section class="home-portfolio bgarea topspace30">
		<div class="bgarea-semitransparent">
			<div class="container">
				<h1 class="small text-center animated fadeInLeftNow notransition">How It Works</h1>
				<p class="animated fadeInRightNow notransition text-center topspace20">
					 Looking to learn from scratch, advance your music skills, or become a pro? <br> No matter where you are in your music journey
				</p>
				<br/>
				<div class="row">
					<div class="col-md-6 animated fadeInLeftNow notransition">
						<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BKrUkWSo4Ig?rel=0" allowfullscreen=""></iframe>
                            </div>
                          </div>
					</div>
					<div class="col-md-6 animated fadeInRightNow notransition">
						<ul class="icons">
							<li>
							<h4><i class="icon-magic"></i>Winning Template Awards</h4>
							<p>
								 Suspendisse nisl sapien, mattis ut libero ut, placerat eleifend urna. Quisque commodo.
							</p>
							</li>
							<li>
							<h4><i class="icon-heart"></i>Love at first sight with App</h4>
							<p>
								 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis consectetur venenatis ante in adipiscing.
							</p>
							</li>
							<li>
							<h4><i class="icon-twitter"></i>Top Social Media</h4>
							<p>
								 Maecenas tempus purus vitae magna posuere tempor. Aliquam sed augue justo. Etiam pellentesque purus sed tincidunt dignissim.
							</p>
							</li>
							<li>
							<h4><i class="icon-leaf"></i>Professional modern Theme</h4>
							<p>
								 Donec commodo euismod sem, eu vehicula dui malesuada rutrum. Cras lobortis.
							</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</section>
		<!-- /.recent-work end-->
		<!-- FEATURES
================================================== -->
		<section class="home-features topspace30">
		<div class="container animated fadeInUpNow notransition">
			<h1 class="small text-center">WHAT THEY SAY</h1>
			<div class="br-hr type_short">
				<span class="br-hr-h">
				<i class="icon-pencil"></i>
				</span>
			</div>
			<div id="cbp-qtrotator" class="cbp-qtrotator">
				<div class="cbp-qtcontent">
					<img src="http://wowthemes.net/demo/biscaya/img/demo/avatar.jpg" alt="">
					<blockquote>
						<p class="bigquote">
							<i class="icon-quote-left colortext quoteicon"></i> Lorem ipsum dolor sit adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus. Lorem ipsum dolor sit adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus. Praesent dignissim sem sapien, a vulputate enim auctor vitae. Duis non lorem porta, adipiscing eros sit amet, tempor sem.
						</p>
						<footer>John Doe / Owner of <a href="#">calypso.com</a></footer>
					</blockquote>
				</div>
				<div class="cbp-qtcontent">
					<img src="http://wowthemes.net/demo/biscaya/img/demo/avatar.jpg" alt="">
					<blockquote>
						<p class="bigquote">
							<i class="icon-quote-left colortext quoteicon"></i> Lorem ipsum dolor sit adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus. Lorem ipsum dolor sit adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus. Praesent dignissim sem sapien, a vulputate enim auctor vitae. Duis non lorem porta, adipiscing eros sit amet, tempor sem.
						</p>
						<footer>Pino Caruso / Director of <a href="#">hisweb.com</a></footer>
					</blockquote>
				</div>
			</div>
			<!--<br/>
			<div class="col-md-10 col-md-offset-1 animated slidea notransition">
				<div class="row">
					<div class="col-md-4">
						<h4><i class="icon icon-microphone">
						</i> A Playground for Web</h4>
						<div class="bottomspace30">
							 Trigger ideas: quickly experiment with site colors &amp; patterns, try out web typography and much more.
						</div>
					</div>
					<div class="col-md-4">
						<h4><i class="icon icon-anchor">
						</i> Great Project for Clients</h4>
						<div class="bottomspace30">
							 Trigger ideas: quickly experiment with site colors &amp; patterns, try out web typography and much more.
						</div>
					</div>
					<div class="col-md-4">
						<h4><i class="icon icon-user">
						</i> Ready to Use Template</h4>
						 Trigger ideas: quickly experiment with site colors &amp; patterns, try out web typography and much more. <br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h4><i class="icon icon-pushpin">
						</i> New Modern Functions</h4>
						 Trigger ideas: quickly experiment with site colors &amp; patterns, try out web typography and much more. <br>
					</div>
					<div class="col-md-4">
						<h4><i class="icon icon-cogs">
						</i> Top Notch Support</h4>
						 Trigger ideas: quickly experiment with site colors &amp; patterns, try out web typography and much more. <br>
					</div>
					<div class="col-md-4">
						<h4><i class="icon icon-leaf">
						</i> Awesome Animations</h4>
						<div class="bottomspace30">
							 Trigger ideas: quickly experiment with site colors &amp; patterns, try out web typography and much more.
						</div>
					</div>
				</div>
			</div>-->
		</div>
		</section>
		<!-- /.home-features end-->
		<section class="grayarea recent-projects-home topspace30 animated fadeInUpNow notransition">
		<div class="container">
			<div class="row">
            	<div class="col-sm-4">
                	<div class="boxcontainer">
                        <h1>Why HomeNote?</h1>
                        <p><a href="#">More</a></p>
                        <img src="../static/img/why-home-note.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                	<div class="boxcontainer">
                        <h1>Select Your Teacher</h1>
                        <p><a href="#">Select Now</a></p>
                        <img src="../static/img/select-teacher.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                	<div class="boxcontainer">
                        <h1>Start Your Lesson</h1>
                        <p><a href="#">Start Now</a></p>
                        <img src="../static/img/start-lesson.jpg" alt="">
                    </div>
                </div>
				<!--<h1 class="small text-center topspace0">LATEST PROJECTS</h1>
				<p class="animated fadeInRightNow notransition text-center topspace20">
					 Calypso offers multiple layouts and ways of displaying your content in a manner that best suits for you and <br>
					 your customer. Make beautiful and eye catching site with Calypso today!
				</p>
				<div class="text-center smalltitle">
				</div>-->
				</div>
			</div>
		</div>
		</section>