	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">How it Works!</h1>
		<p class="animated fadeInRightBig container page-description">
			 Here some details about home note and below is the video please watch<br/>
			to arrange your classes with Home Note.
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
<section class="container topspace10">	
		<div class="">
			<div class="container">
				<h1 class="small text-center animated fadeInLeftNow notransition">How It Works</h1>
				<p class="animated fadeInRightNow notransition text-center topspace20">
					 Looking to learn from scratch, advance your music skills, or become a pro? <br> No matter where you are in your music journey
				</p>
				<br/>
				<div class="row">
					<div class="col-md-6 animated fadeInLeftNow notransition">
						<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BKrUkWSo4Ig?rel=0" allowfullscreen=""></iframe>
                            </div>
                          </div>
					</div>
					<div class="col-md-6 animated fadeInRightNow notransition">
						<ul class="icons">
							<li>
							<h4><i class="icon-magic"></i>Winning Template Awards</h4>
							<p>
								 Suspendisse nisl sapien, mattis ut libero ut, placerat eleifend urna. Quisque commodo.
							</p>
							</li>
							<li>
							<h4><i class="icon-heart"></i>Love at first sight with App</h4>
							<p>
								 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis consectetur venenatis ante in adipiscing.
							</p>
							</li>
							<li>
							<h4><i class="icon-twitter"></i>Top Social Media</h4>
							<p>
								 Maecenas tempus purus vitae magna posuere tempor. Aliquam sed augue justo. Etiam pellentesque purus sed tincidunt dignissim.
							</p>
							</li>
							<li>
							<h4><i class="icon-leaf"></i>Professional modern Theme</h4>
							<p>
								 Donec commodo euismod sem, eu vehicula dui malesuada rutrum. Cras lobortis.
							</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</section>
	</div>