
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Login</h1>
		<p class="animated fadeInRightBig container page-description">
			 Login with user name or email address.<br/>
			or you can login with Facebook or Linkedin account.
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			<!-- Begin Form 1 -->
    		<section class="container topspace10">	
            	<div class="row">
                    <div class="col-md-6 animated fadeInLeft notransition">
                        <div class="box effect2">
                            <h4>Login</h4>
                            <form method="post" ng-submit="submit()">
                            <div class="radio">
								<p><label><input type="radio"> Teacher </label>
                                <label><input type="radio"> Student </label></p>
							</div>
                            <div class="done">
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    Your message has been sent. Thank you!
                                </div>
                            </div>
                            <div class="form" >
                            	 <input class="col-xs-12" type="text" placeholder="Username"  ng-model="username" required="">
                            	 <input class="col-xs-12" type="password" placeholder="Password"  ng-model="password" required="">
                               <!--  <input class="col-xs-12" type="text" name="email" placeholder="Email Address">
                                <input class="col-xs-12" type="password" name="password" placeholder="Password"> -->
                                <input type="submit" id="submit" class="btn btn-default" value="Login">
                            </div>
                            </form>
                        </div>
                        <br>
                    </div>
                    
                    <div class="col-md-6 animated fadeInRight notransition">
                    	 <div class="box effect2">
                            <h4 class="text-center">Register Today!</h4>
                            <button class="btn center-block btn-primary" ui-sref="register"> Sign Up</button>
                        </div>
                        <br>
                    	<div class="box effect2">
                            <h4 class="text-center">Login with Facebook</h4>
                            <button class="btn center-block btn-primary"> <i class="icon-facebook-sign"></i> Login with Facebook</button>
                        </div>
                        <br>
                        <div class="box effect2">
                            <h4 class="text-center">Login with Linkedin</h4>
                            <button class="btn center-block btn-primary"> <i class="icon-linkedin-sign"></i> Login with Linkedin</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-12">&nbsp;</div>
                </div>    
				<!--<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
								<input type="checkbox"> Remember me </label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Sign in</button>
						</div>
					</div>
				</form>-->
				<!-- End Form 1 -->
			<!-- ELEMENTS ITEMS END -->
			</section>
    	</div>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
	