
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Terms and Conditions</h1>
		
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			
    		<section>	
            	<div class="container">
            		<div class="row">
                    	<div class="col-md-12">
                        	<ul class="nav nav-tabs nav-justified">
                              <li><a ui-sref="publicityrealease">Publicity realse for teachers</a></li>
                              <li class="active"><a ui-sref="privacypolicy">Privacy Policy</a></li>
                              <li><a ui-sref="termsconditions">Terms and Conditions</a></li>
                            </ul>
                        </div>                        
                    </div>
                    <!--row end-->
                    <div class="row topspace30">
                    	<div class="col-md-12 text-justify">
                        	<h1 class="smalltitle"><span>Privacy Policy</span></h1>
                            <p>Welcome to HomeNote.org, the online website and platform for in-person music lessons via videochat (collectively, the "Platform"), operated by HomeNote.org, Inc (the "Operator", "we", "us", "our"). 
Please read this notice carefully. This Privacy Policy describes how we treat the information we collect when you visit our website/platform and/or register to become a teacher or student.  Terms governing the interaction between teachers and Operator are available [here](link to T&amp;C for teachers)</p>
							<p>Personal Identifiable Information (PII).  In order to complete your registration with Operator and to facilitate lessons and communications between students and teachers, we request your contact information, which may include without limitation your name, email address, interests, and telephone number.  The amount of PII you provide is entirely up to you.  Some minimum amount of PII may be required to complete registration with the website or Platform.  PII provided by teachers through the Platform may be available to Platform visitors/prospective students/students to facilitate the scheduling of lessons.  Additionally, you may share your information directly through the Platform with students or teachers, as applicable, to confirm and facilitate lessons.  We may share your PII with third parties for promotional purposes with your permission.</p>
                            <p><strong>Non-Personal Information.</strong>  You may also provide to Operator non personally identifiable information, such as interests, background, or age, also known as demographic and profile data.  Though this information is optional, we may use it to improve our sites and/or tailor your experience on our sites, showing you content that we think you might be interested in and displaying content according to your preferences.  We may also share this information with affiliates or third parties as we deem appropriate.</p>
                            <p><strong>Usage Information.</strong> In addition to collecting personal and non-personal information, we may also collect non-personal, aggregated information about subscribers' use of Operator's HomeNote.org.  This information is not personally identifiable and will be used to find out how subscribers use our Platform and sites. For example, this information will tell us how much time users spend on the HomeNote site, from which site subscribers came, and to what sites subscribers go.  The collection of this information allows us to optimize the functionality of the sites.  We may also share this information with affiliates or third parties as we deem appropriate.</p>
                            <p><strong>Payment Information.</strong> PII you provide concerning the making or receiving of payments through our Platform may be shared with third-parties to facilitate the making of payments.</p>
                            <ul class="list">
                            	<li>The third party students use to make payments will be PayPal.comwww.paypal.com. Credit card payments by students will be made through PayPal. PayPal has its own privacy policy, which governs how your information is handled.  We will not store student PII for payment purposes.</li>
                                <li>The third party used by the site to make disbursements to teachers, depending on the manner in which teachers choose to receive disbursements is PayPal (online payments to your PayPal account).If you as a teacher would like to receive disbursement via PayPal, we would need to receive your PayPal ID number.  We will share teacher payment information with these third parties as necessary to facilitate disbursements of funds associated with lessons taught by teachers. PayPal has their own respective privacy policies which govern how your information is handled by them. </li>
                                <li>We will take reasonable steps to safeguard any teacher's PII that we retain for making disbursements to teachers via paper check or otherwise.</li>
                            </ul>
                            <p><strong>Choice/Opt Out.</strong>  If we ever send you information by email concerning our products or services that you did not expressly request, we will provide you with an opt-out mechanism by which you may request no such future emails.</p>
                            <p><strong>Cookies.</strong>  We may place a unique cookie on your browser and use such cookie to track your non-personally identifiable information while you are on our website or Platform. We or our business partners may also collect information that is anonymous, such as your IP address (a number used to identify your computer on the Internet) or the type of browser you are using ("Anonymous Information"), through the use of cookies or by other means. We hope that, by using Anonymous Information, we can update the site to make it more useful to you and other users. We reserve the right to maintain, update, disclose or otherwise use Anonymous Information, without limitation.</p>
                            <p><strong>Links to Other sites.</strong>  As part of the Platform, we may create links allowing you to access third-party sites.  We are not responsible for the content that appears on these sites, and we do not endorse these sites.  Please consult the sites' respective privacy policies to determine how they treat user information.</p>
                            <p><strong>Modification to This Policy.</strong>  We may change this policy, but we'll post any changes here, so be sure to check in.</p>
                            <p><strong>Contact Us.</strong>  If you have any questions about this Policy or our sites in general, please contact us at:</p>
                            <p><a href="mailto:neville@HomeNote.org">neville@HomeNote.org</a><br />
                            	or <br />
                                <strong>HomeNote</strong><br />
                                22 SIN MING LANE <br />
                                #06-76<br />
                                SINGAPORE (573969) <br />
                                +65 9710 0390 <br />
                            </p>
                            <p><strong>Comments or questions are welcome.</strong></p>

                            
                        </div>
                        <!--part end-->                        
                    </div>
                    <!--row end-->
                    
				</div>
                <br />
			</section>
      </div>
      <script>
      function readURL(input, id) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#'+id).attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile_pic").change(function(){
    readURL(this, 'avatar_url');
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
      </script>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
