
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Terms and Conditions</h1>
		
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			
    		<section>	
            	<div class="container">
            		<div class="row">
                    	<div class="col-md-12">
                        	<ul class="nav nav-tabs nav-justified">
                              <li class="active"><a ui-sref="publicityrealease">Publicity realse for teachers</a></li>
                              <li><a ui-sref="privacypolicy">Privacy Policy</a></li>
                              <li><a ui-sref="termsconditions">Terms and Conditions</a></li>
                            </ul>
                        </div>                        
                    </div>
                    <!--row end-->
                    <div class="row topspace30">
                    	<div class="col-md-12 text-justify">
                        	<h1 class="smalltitle"><span>HomeNote Publicity Release for Teachers and Teacher Applicants</span></h1>
                            <p><strong>Last Updated: 10/07/2015</strong></p>
                            <p>You, the Teacher (or applicant to be a Teacher) of Lessons via the Platform for the Purpose of the Platform, as those terms are defined in the Teacher Terms of Use, hereby agree and consent to the following in this Release Agreement (the "Release"): </p>
                            <p>You grant to Homenote.org, Inc (the "Operator", "we", "us", "our") the following rights:</p>
                            <ol>
                            	<li>To take photographs or record video that may contain my likeness, as well as the likeness or image of my property, through the Platform in interactions with students or Operator, or otherwise through interactions via webchat with Operator (the "Images");</li>
                                <li>To take, record, publish, or obtain testimonials or other statements from me (the "Statements"); and  </li>
                                <li>To use, copy, modify, adapt, distribute, publish, display, exhibit and otherwise use, either in whole or in part, the Images and/or Statements for commercial and business purposes in one or more film, audiovisual, or multimedia productions and/or on Operator's website and/or in any educational, advertising, marketing, and promotional materials on or off Operator's Platform.</li>
                                <li>To use your name and likeness for commercial and business purposes in one or more film, audiovisual, or multimedia productions and/or on Operator's website and/or in any educational, advertising, marketing, and promotional materials on or off Operator's Platform.</li>
                                <li>You hereby grant Operator a perpetual, non-exclusive, worldwide license to use the Images and/or Statements in accordance with the terms set forth herein, including without limitation sections 1-4 above, and you shall take no action to challenge or object to the validity of this license.</li>
                                <li>You understand and agree that Operator is under no obligation to (1) create or record the Images and/or Statements, (2) retain or use your name and likeness and/or the Images and/or Statements, or (3) provide you with any copies of any Images and/or Statements that Operator has for any reason retained. </li>
                            </ol>
                            <p>You understand and agree that the Images may or may not contain attributions specifically identifying you or any of your property.  </p>
                            <p>Operator shall have the right to modify, reproduce, display or otherwise disseminate the Images and/or Statements, in whole or in part, provided that any modifications or alterations made to such Images and/or Statements do not significantly alter or misrepresent the original content.</p>
                            <p>You hereby release and discharge Operator, its employees, agents, successors, licensees and assigns from any and all claims you might have in connection with Operator's use, display, dissemination or exploitation of the Images and/or Statements and/or your name and likeness including, but not limited to, any claims for defamation; violation of any moral or artist rights; and/or any right of privacy or publicity.</p>
                            <p>You further acknowledge that you will receive no compensation from Operator other than any goodwill and publicity that you may receive relating to the publication, distribution, or other use of the Images and/or Statements and/or your name and likeness as set forth in this Release. </p>
                            
                        </div>
                        <!--part end-->                        
                    </div>
                    <!--row end-->
                    
				</div>
                <br />
			</section>
      </div>
      <script>
      function readURL(input, id) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#'+id).attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile_pic").change(function(){
    readURL(this, 'avatar_url');
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
      </script>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
