
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Registeration Complete !</h1>
		<p class="animated fadeInRightBig container page-description">
			 

<p>Great! You have successfully begun your teacher application process. Just two more steps to go: <br/>1) Click on the validation link sent to the email address provided by you. <br/>2) Continue from there to complete and submit your application for review.<br/>We’re waiting to hear back from you!<br/><br/>Team HomeNote
		</p>
	</div>
	</section>
	
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
