
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Become a Teacher</h1>
		<p class="animated fadeInRightBig container page-description">
			Register now to begin your teacher application process!<br/>
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			
    		<section>	
            	<div class="container">
            		<div class="row">
                    	<div class="col-sm-6 col-sm-push-6  animated fadeInRight notransition">
                        	<h1 class="smalltitle"><span>Register Today</span></h1>
                        	<div class="box effect2">
                            	<form  class="form-horizontal" ngEnter="firstRegistration(registerForm.$invalid)" method="post" ng-submit="firstRegistration(registerForm.$invalid)"name="registerForm">
                                	 <div class="form-group" show-errors >
                                     	<label class="col-md-3 control-label">First Name:</label>
                                        <div class="col-md-9"><input class="form-control" ng-model="formData.first_name" type="text" name="first_name" required >
                                             <p class="help-block" ng-if="registerForm.first_name.$error.required">First Name is required</p>
                                     </div>
                                     </div>
                                     <div class="form-group" show-errors>
                                     	<label class="col-md-3 control-label">Last Name:</label>
                                        <div class="col-md-9"><input class="form-control" type="text" ng-model="formData.last_name" name="last_name"  required>
                                            <p class="help-block" ng-if="registerForm.last_name.$error.required">Last Name is required</p></div>
                                     </div>
                                     <div class="form-group" show-errors>
                                     	<label class="col-md-3 control-label">Email:</label>
                                        <div class="col-md-9"><input class="form-control" type="email" name="email"  ng-model="formData.email" required>
                                            <p class="help-block">The Email should be valied and it is required</p></div>
                                     </div>
                                    <!--  <div class="form-group">
                                      <div class="checkbox">
                                        <label  class="col-md-3">
                                        </label>
                            <label  class="col-md-3 control-label" show-errors>
                              <input type="checkbox" ng-model="formData.is_teacher" id="teachercb">Teacher
                            </label>
                            <label  class="col-md-3 control-label" show-errors>
                              <input type="checkbox" ng-model="formData.is_student" id="studentcb">Student
                            </label>
                          </div>
                                     </div> -->
                                     <div class="form-group">
                                      <div class="checkbox">
                            <label  class="col-md-8 control-label" show-errors>
                              <input type="checkbox" ng-model="formData.isTnC" id="termandconditioncheck"> I accept <a href ng-click="onTermandConditions()">the terms and conditions</a>
                            </label>
                          </div>
                                     </div>
                                   </br>
                                     <div class="form-group">
                                     	<label class="col-md-3 control-label"></label>
                                        <div class="col-md-9"><input class="btn btn-default" name="submit" type="submit"  value="Sign Up" ></div>
                                     </div>
                                </form>
                            </div>
                            <!--box end-->
                            <h1 class="smalltitle text-center topspace20"><span>OR</span></h1>
                            <div class="box effect2">
                            	<div class="row">
                                	<div class="col-xs-6"><button class="btn btn-block btn-default"> <i class="icon-google-plus"></i> &nbsp; Sign Up</button></div>
                                    <div class="col-xs-6"><button class="btn btn-block btn-primary"> <i class="icon-facebook-sign"></i> &nbsp; Sign Up</button></div>
                                </div>
                            </div>
                            <!--box end-->
                            <h1 class="smalltitle topspace20"><span>Already A Teacher?</span></h1>
                        	<div class="box effect2" ng-controller="LoginCtrl">
                            	<form  class="form-horizontal" method="post" name="loginForm" ng-submit="submit(loginForm.$invalid)" ngEnter="submit(loginForm.$invalid)">
                                	 <div class="form-group" show-errors>
                                     	<label class="col-md-3 control-label">Username:</label>
                                        <div class="col-md-9"><input class="form-control" ng-model="username" name="username"  required>
                                        <p class="help-block" ng-if="loginForm.username.$error.required">Username is required</p></div>
                                     </div>
                                     <div class="form-group" show-errors>
                                     	<label class="col-md-3 control-label">Password:</label>
                                        <div class="col-md-9"><input class="form-control"  ng-model="password" type="password" name="password" required>
                                            <p class="help-block" ng-if="loginForm.password.$error.required">Password is required</p></div>
                                     </div>
                                     <div class="form-group">
                                     	<label class="col-md-3 control-label"></label>
                                        <div class="col-md-9"><input class="btn btn-default"  name="submit" type="submit" value="Sign In" >
                                        </div>
                                     </div>
                                </form>
                            </div>
                            <!--box end-->
                            <br /><br />
                        </div>
                        <!--part end-->
                        
                        <div class="col-sm-6 col-sm-pull-6  animated fadeInLeft notransition">
                        	<h1 class="smalltitle"  data-toggle="collapse" data-target="#whatsinit" style="cursor: pointer;"><span>WHAT'S IN IT FOR YOU?</span></h1>
                            <div class="panel" id="whatsinit">
                            	<p>Do you have a passion for teaching music, and are you eager to exponentially expand your student base?</p>
                                <p>Music instructors on HomeNote gain access to a pool of students of all age groups and levels of expertise, from across the globe. Students with an interest to learn a musical instrument or get vocal training, turn to HomeNote to find the teacher who perfectly matches their:</p>
                                <ul class="list">
                                	<li>Current level of learning (basic, intermediate, advanced)</li>
                                    <li>Schedule requirements (particualrly for those who are only free at odd hours)</li>
                                    <li>Learning style and methods (slow paced, fast paced, challenging, etc)</li>
                                    <li>Preferred language </li>
                                    <li>Budgetary requirements</li>
                                </ul>
                            </div>
                            
                            <div class="margintop"></div>
                            <h1 class="smalltitle" data-toggle="collapse" data-target="#eligibility" style="cursor: pointer;"><span>Eligibility Criteria</span></h1>
                            <div class="panel" id="eligibility">
                            	<p><strong>Required:</strong></p>
                            	<ul class="list">
                                	<li>2+ years of music teaching experience;</li>
                                    <li>Music degree or</li>
                                    <li>5+ years of being a professional musician with your principal source of income derived from music.</li>
                                </ul>
                                <p><strong>Preferred:</strong></p>
                                <ul class="list">
                                	<li>Certification or diploma in musical instrument in question</li>
                                </ul>
                                <p>If your qualifications meet the abovementioned criteria, SIGN-UP with up now to SUBMIT YOUR TEACHER'S APPLICATION!</p>
                            </div>
                            <br />
                        </div>
                        <!--part end-->
                    </div>
                    <!--row end-->
                    
				</div>
			</section>
      </div>
      <script>
      function readURL(input, id) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#'+id).attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile_pic").change(function(){
    readURL(this, 'avatar_url');
});
      </script>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
