
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Find Your Teacher</h1>
		<!--<p class="animated fadeInRightBig container page-description">
			 Please fill below form to register with Home Note<br/>
			or you can Register with your Facebook or Linkedin account.
		</p>-->
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			
    		<section>	
            	<div class="container">
            		<div class="row">
                    	<div class="col-sm-12">
                        	<ul class="nav nav-tabs filter">
                            	<li class="active"><a href="#filter" data-toggle="collapse">Show Filters</a></li>
                            </ul>
                            <div id="filter" class="collapse in box">
                            	<form method="" action="">
                            	<div class="row">
                                	<div class="col-sm-3">
                                    	<div class="form-group">
                                            <label >Instrument</label>
                                            <div >
                                            <select ng-model="filter.instrument"   chosen  class="chosen-select form-control"  ng-options="item.code as item.name for item in instrumentList"
                                          required>
                                            <option value=""></option>
                                            </select>
                                            </div>
                                          
                                         </div>
                                         <div class="form-group">
                                            <label>Skill Level</label>
                                            <select ng-model="filter.skill_level"   chosen  class="chosen-select form-control"  ng-options="item.code as item.name for item in skillLevelList"
                                                required>
                                                  <option value=""></option>
                                                </select>
                                         </div>
                                         <div class="form-group">
                                            <label>Start Date</label>
                                            <input class="form-control"  ng-model="filter.date" type="date" name="date" >
                                         </div>
                                    </div>
                                    <!--part end-->
                                    <div class="col-sm-9">
                                    	<div class="row">
                                        	<div class="col-sm-3">
                                                <div>
                                            	<h3>Min Price </h3>
                                                <input class="form-control"  ng-model="filter.min_price"  >
                                                </div>
                                                <div>
                                                <h3>Max Price </h3>
                                                <input class="form-control"  ng-model="filter.max_price" >
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                            	<h3>Day of The Week</h3>
                                                <div class="checkbox"><label><input type="checkbox" value="" ng-model="filter.monday"> Monday</label></div>
                                                <div class="checkbox"><label><input type="checkbox" value="" ng-model="filter.tuesday"> Tuesday</label></div>
                                                <div class="checkbox"><label><input type="checkbox" value="" ng-model="filter.wednesday"> Wednesday</label></div>
                                                <div class="checkbox"><label><input type="checkbox" value="" ng-model="filter.thursday"> Thursday</label></div>
                                                <div class="checkbox"><label><input type="checkbox" value="" ng-model="filter.friday"> Friday</label></div>
                                                <div class="checkbox"><label><input type="checkbox" value="" ng-model="filter.saturday"> Saturday</label></div>
                                                <div class="checkbox"><label><input type="checkbox" value="" ng-model="filter.sunday"> Sunday</label></div>
                                            </div>
                                            <div class="col-sm-3">
                                            	<div class="form-group">
                                                <label for="message-text"  class="control-label">Start Time :</label>
                                                <input type="time" class="form-control " ng-model="filter.start_time">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">End Time:</label>
                                                <input type="time" class="form-control "   ng-model="filter.end_time">
                                            </div>
                                            </div>
                                            <div class="col-sm-3">
                                            	<h3>Other Filters</h3>
                                                <div class="checkbox"><label><input type="checkbox" value=""> Teaches children </label></div>
                                                <div class="checkbox"><label><input type="checkbox" value=""> Offers trial session </label></div>
                                                <div class="checkbox"><label><input type="checkbox" value=""> Available now</label></div>
                                            </div>
                                        </div>
                                        <!--row end-->
                                    </div>
                                    <!--part end-->
                                </div>
                                <!--row end-->
                                </form>
                                <div>
                            <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
                        </div>
                            </div>
                            
                            <!--filter end-->
                        </div>
                        <!--part end-->                        
                     </div>   
                    <!--row end-->
                    
                    <div class="row topspace30">
                        <div ng-repeat="teacher in teacherList">
                        <div class="col-sm-6 col-md-4">
                                <div class="thumbnail teacherbox">
                                <img alt="" src="../static/img/select-teacher.jpg" class="img-responsive"></img>
                                <div class="caption">
                                    <div class="rating">
                                    	<i class="fa icon-star"></i> 
                                        <i class="fa icon-star"></i> 
                                        <i class="fa icon-star"></i> 
                                        <i class="fa icon-star"></i> 
                                    </div>
                                    <h3 class="font300">{{teacher.first_name}}  {{teacher.lat_name}}</h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span>Instrument: <b>Guitar</b></span>
                                            <span>Class Lenth: <b>6</b></span>
                                            <span>Price: <b>$ 50</b></span>
                                            <span>Trial Provided : <b>Yes</b></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span>Lesson Quality :Good</span>
                                            <span>Lessons Taught:</span>
                                            <span>Reviews: 6 Reviews</span>
                                            <span>Recomended : 100% </span>
                                        </div>
                                    </div>
                                    <div class="topspace10"><a href="#" class="btn btn-default" role="button">View Profile</a><a href="#" class="btn btn-default" role="button">Send Message</a><a href="#" class="btn btn-default" role="button">Book Now</a></div>
                                </div>
                            </div>
                         </div>
                         </div>
                    
                         </div>
                         <!--box end-->
                         
                    </div>
                    <!--row end-->
                    
				</div>
			</section>
      </div>
      <script>
      function readURL(input, id) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#'+id).attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#profile_pic").change(function(){
    readURL(this, 'avatar_url');
});
      </script>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
