
	<!-- /nav end-->
	<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">{{loggedInUser.first_name}} {{loggedInUser.last_name}}</h1>
		<p class="animated fadeInRightBig container page-description">
			<i class="fa icon-star"></i> 
			<i class="fa icon-star"></i> 
			<i class="fa icon-star"></i> 
			<i class="fa icon-star"></i> 
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			<!-- Begin Form 1 -->
    		<section class="container topspace10 profilepage">	
            	<div class="row">
                	<div class="animated fadeInLeft notransition labelbox">
                         	<a href="#"><i class="fa icon-music"></i> <span>-</span> Classes</a>
                    </div>
                    <div class="animated fadeInLeft notransition labelbox">
                         	<a href="#"><i class="fa icon-user"></i> <span>-</span> Students</a>
                    </div>
                    <div class="animated fadeInLeft notransition labelbox">
                         	<a href="#"><i class="fa icon-file-text"></i> <span>-</span> Reviews</a>
                    </div>
                    <div class="animated fadeInLeft notransition labelbox">
                         	<a href="#"><i class="fa icon-tag"></i> <span>-</span> Booked Session</a>
                    </div>                    
                    <div class="animated fadeInLeft notransition labelbox">
                         <a href="#"><i class="fa icon-money"></i> <span>-</span> My Earning</a>
                    </div>
                </div>
                <br/>
                <div class="row">
                	<div class="col-sm-6">
                    	<div class="panel panel-default mychart">
                        	<div class="panel-heading">My Earning/Session<b style="color:red;"> DUMMY DATA </b></div>
                            <div class="panel-body">
                            	<canvas id="pie" class="chart chart-pie" data="piedata" labels="pielabels"></canvas>   
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    	<div class="panel panel-default mychart">
                        	<div class="panel-heading">My Rating <b style="color:red;"> DUMMY DATA </b></div>
                            <div class="panel-body">
                            	<canvas id="line" class="chart chart-line" data="ratingdata" labels="labels" legend="true" series="ratingseries" click="onClick"></canvas> 
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    	<div class="panel panel-default mychart">
                        	<div class="panel-heading">Student Enrolled - Enquired for My Session <b style="color:red;"> DUMMY DATA </b></div>
                            <div class="panel-body">
                            	<canvas id="bar" class="chart chart-bar" data="data" labels="labels"></canvas> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>    
			<!-- ELEMENTS ITEMS END -->
			</section>
    	</div>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
