
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">{{teacher.first_name}} {{teacher.last_name}}</h1>
		<p class="animated fadeInRightBig container page-description">
			
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="../static/img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			<!-- Begin Form 1 -->
    		<section class="container topspace10 profilepage">	
            	<div class="row">
                	<div class="col-md-5 animated fadeInLeft notransition">
                    	<div class="thumbnail">
                        	<img src="{{teacher.pic_url}}" alt="Profile Pic">
                        	<div class="caption">
                            	<h3>{{teacher.first_name}} {{teacher.last_name}}</h3>
                                <div class="row">
                                	<div class="col-sm-6"><a href class="btn btn-block btn-default">{{teacher.rate}} /hr</a></div>
                                    <div class="col-sm-6"><a href class="btn btn-block btn-default"><span ng-if="teacher.isTrial">
  Trial Provided
</span><span ng-if="!teacher.isTrial" >
  Sorry No Trial 
</span></a></div>
                                </div>
                                <div class="row topspace20">

                                    <div class="row ">
                                    	<div class="col-sm-6">
                                        	<ul>
                                            	<li>Country Of Residence:</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                        	<ul>
                                            	<li>{{countryList.getChoice(teacher.country_iso3) }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-6">
                                            <ul>
                                                <li>Instrument:</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul>
                                                <div ng-repeat="instrument in teacher.instrument">
                                                    <li>{{instrumentList.getChoice(instrument) }}</li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-6">
                                            <ul>
                                                <li>Class Length:</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul>
                                                <li>5</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-6">
                                            <ul>
                                                <li>Lesson Language:</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul>
                                                <div ng-repeat="languageSpeak in teacher.languageSpeak">
                                                    <li>{{languageList.getChoice(languageSpeak) }}</li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-6">
                                            <ul>
                                                <li>Lesson Quality:</li>
                                                <li>Lessons Taught:</li>
                                                <li>% Recommended: </li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul>
                                                <li>Good</li>
                                                <li>500</li>
                                                <li>100</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 animated fadeInRight notransition tabcontent">
                        <!--Begin Tabs 3-->
                        <tabset>
    				<tab ><tab-heading><i class="icon-user"></i>Teacher Profile</tab-heading><div class="row">
                                	<div class="col-md-12">
                                        <p>{{teacher.about}} </p>
                                        <h3>Musical Qualification</h3>
                                        <p>{{teacher.qualification}}</p>
                                        <h3>Teaching Style</h3>
                                        <p>{{teacher.teachingstyle}} </p>
                                        <h3>Anything Else:</h3>
                                        <p>{{teacher.anythingelse}}</p>
                                        <h3>Mandatory HomeNote Paragraph</h3>
                                        <p>All lessons are taught online through a video conferencing software. </p>
                                    </div>
                                </div></tab>
                                <tab ><tab-heading><i class="icon-tags"></i>Student Reviews</tab-heading>
                                	  <div class="row">
                                  	<div class="col-md-12">
                                    	<div class="panel">
                                            <!--  <a href="#" class="pull-left"><img alt="image" class="img-circle" src="../static/img/a3.jpg"></a> -->
                                             <strong>No Review</strong>
                                             <!-- <div>All lessons are taught online through a video conferencing software</div> -->
                                        </div>
                                       
                                    </div>  
                                </div></tab>
                                <tab><tab-heading><i class="icon-facetime-video"></i>Video Demo</tab-heading> <div class="row">
                                  	<div class="col-md-12">
                                    	<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
                                            <div class="embed-responsive embed-responsive-16by9">
                                               
                                              <!-- <source src="devstories.webm" 
                                                      type='video/webm;codecs="vp8, vorbis"'/> -->
                                              <video ng-src="{{trustSrc(teacher.video_url)}}"
                                                      type="{{trustSrc(teahcer.video_type)}}" controls>

                                            </video>
                                                                                          
                                            <!-- <iframe class="embed-responsive-item" src="{{teacher.video_url}}" allowfullscreen=""></iframe> -->
                                            </div>
                                          </div>
                                    </div>  
                                </div></tab>
    				
					  </tabset>


                       
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-12">&nbsp;</div>
                </div>    
				
			</section>
    	</div>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
	
