
	
<div >
	<section class="pageheader-default text-center" >
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig">Natasha Jiandani</h1>
		<p class="animated fadeInRightBig container page-description">
			 This section will contain information about the teacher.<br> Mandatory information in this section will be: 
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ELEMENTS ITEMS BEGIN
================================================== -->
			<!-- Begin Form 1 -->
    		<section class="container profilepage">	
      			<div class="row">
                    <div class="col-md-12 animated fadeInRight notransition">
                       <div id='calendar'> 
                              <div class="btn-toolbar">
                                <p class="pull-left lead">Calendar One View Options</p>
                                <div class="pull-right">
                                   <a href="#" class="btn btn-default" ng-click="onCreateSession()">Create Session</a>
                                   <a href="#" class="btn btn-default">Book Session</a>
                                   
                                        <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                                        <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                                        <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                                   
                               </div>
                                
                              </div>
                            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                          
                       		<!-- <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div> -->
                       </div>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-12">&nbsp;</div>
                </div>    
				
			</section>
    	</div>
    </div>
	<!-- /.wrapsemibox end-->
	<!-- BEGIN FOOTER
================================================== -->
	
	<!-- /footer section end-->
