<div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Terms and Conditions</h4>
                              </div>
                              <div class="modal-body">
                                  <section> 
                <div class="container" style="width :100%">
                    
                    <!--row end-->
                    <div class="row topspace30 terms">
                        <div class="col-md-12 text-justify">
                            <h1 class="smalltitle"><span>Teacher Terms</span></h1>
                            <p>HomeNote Terms of Use for Teachers and Teacher Applicants ("Teacher Terms")</p>
                            <p><strong>Last Updated: 10/07/2015</strong></p>
                            <p>Welcome to Homenote.org, the online website and platform connecting students and teachers for music lessons (collectively, the "Platform"), operated by Homenote.org Inc. (the "Operator", "we", "us", "our").  These Terms of Use are a legally binding agreement between you and Operator governing your interactions with and use of the Platform.  By using the Platform, you acknowledge that you have read, understood and agree to be bound by these Terms of Use for Teachers and Teacher Applicants and any other applicable terms including without limitation the User Terms of Use, the Privacy Policy, and any future modifications thereof (collectively, the "Agreement"), whether or not you become a "Teacher" (defined below) by obtaining Operator's approval and creating an account and/or Profile with the Platform to offer music lessons purchased and/or provided through the Platform (each, a "Lesson").  We are under no obligation to enforce the Agreement on your behalf against another user.  While we encourage you to let us know if you believe another user has violated the Agreement, we reserve the right to investigate and take appropriate action at our sole discretion. </p>
                            <p><span class="drop-cap">1</span> All persons using the Platform at any time expressly agree not to use any aspect of the Platform for any purpose other than its intended Purpose as a Platform for (a) the purchase and/or sale of Lessons and/or (b) conducting Lessons.  If you use the Platform for any other purpose, you violate this Agreement.</p>
                            <p><span class="drop-cap">2</span> Any violation of this Agreement may be punished by, without limitation, refusal of access to the Platform.</p>
                            <p class="clearfix"></p>
                            <p><span class="drop-cap">3</span> If you object to anything in this Agreement (including anything in our [Privacy Policies](Link to privacy policies) or other applicable terms), please immediately terminate your use of the Platform.  YOU EXPRESSLY AGREE THAT YOUR USE OF THIS PLATFORM IS AT YOUR SOLE RISK.  WE RESERVE THE RIGHT TO DISCONTINUE ANY ASPECT OF THE PLATFORM AT ANY TIME.  THIS AGREEMENT IS TERMINABLE AT ANY TIME BY EITHER PARTY (OPERATOR OR YOU) FOR ANY REASON.  ANY LICENSE YOU GRANT OPERATOR THROUGH ANY AGREEMENT WITH OPERATOR WILL SURVIVE TERMINATION OF THE AGREEMENT WITH OPERATOR.  WITHOUT LIMITATION, SECTIONS 7, 9, 11-12, 15-31, AND 33 SHALL SURVIVE TERMINATION OF THE AGREEMENT.</p>
                            
                            <p><span class="drop-cap">4</span> User Accounts.  You must register/create an account and provide certain information about yourself in order to use some of the features that are offered through the Platform.  You are responsible for maintaining the confidentiality of your account password.  You are also responsible for all activities that occur in connection with your account.  You agree to notify us immediately of any unauthorized use of your account.  We reserve the right to close your account at any time for any reason.  Your account is for your individual use only.  You must provide complete and accurate information about yourself when creating your account.  You may not impersonate someone else (e.g., adopt the identity of anyone other than yourself), create or use an account for anyone other than yourself, provide an email address other than your own, or create multiple accounts.  You may not use a pseudonym.  Please read the applicable <a href="#">Privacy Policy</a> for information concerning how we handle your information.</p>
                            <p><span class="drop-cap">5</span> Communications from Operator and other Users.  By creating an account, you agree to receive certain communications in connection with the Platform.  For example, you might receive a message from a student or potential student inquiring about your teaching style or availability.  You acknowledge and agree that Operator has access to and may review any message sent through the Platform's internal messaging service for any reason or no reason, and Operator may use the information in such messages for any reason or no reason.  You may receive marketing communications from Operator, and you can opt-out of such communications.</p>
                            
                            <p><span class="drop-cap">6</span> "Teacher" as used herein refers to an individual who seeks and obtains Operator’s approval to offer his or her services as a music educator through the Platform.  Operator’s approval generally is based on the applicant’s affirmation that he or she meets one the following minimum criteria (though Operator reserves the right to approve applicants who do not meet these criteria under some circumstances):</p>
                            <ol>
                                <li>2+ years of music teaching experience;</li>
                                <li>Music degree or</li>
                                <li>5+ years of being a professional musician with your principal source of income derived from music.</li>
                            </ol>
                            <p>Upon your seeking Operator’s approval in the hopes of becoming a Teacher, you may be required to provide certain information about your qualifications as a music instructor.  By applying to become a Teacher, you authorize the Background Check defined below.  Operator reserves the right to reject your Teacher status for any reason.</p>
                            <p>Teachers and Teacher Applicants may be subject to a background check (the “Background Check”) before being permitted to teach on the Platform.  </p>
                            <p>If our Background Check results in negative consequences for a Teacher or Teacher Applicant, such as the Teacher or Teacher Applicant being refused access to the Platform, we will disclose the results of the Background Check to that Teacher or Teacher Applicant and allow a reasonable amount of time for that Teacher or Teacher Applicant to respond or correct any inaccurate information.</p>
                            
                            <p><span class="drop-cap">7 </span> "Teacher Content" refers to any content or material of any kind uploaded or otherwise submitted by a Teacher to or through the Platform or provided by a Teacher during or in connection with a Lesson given through the Platform.  As the Teacher, you are responsible for the submitted Teacher Content, including the accuracy thereof.  Teacher Content does not necessarily reflect the opinion of Operator.  By submitting Teacher Content, you grant to Operator a perpetual, non-exclusive, worldwide license to use all your submitted Teacher Content in any manner for the Purpose of the Platform.  This license granted by you shall survive any termination or expiration of this Agreement.  Operator reserves the right to moderate, remove, screen, edit, or reinstate Teacher Content from time to time at our sole discretion and without notice to you.  For example, we may remove or edit Teacher Content on your Profile if we believe it violates this Agreement.  We have no obligation to retain or provide you with copies of Teacher Content, nor do we guarantee any confidentiality with respect to Teacher Content.</p>
                            <p>The following is a partial list of the kind of Teacher Content that is illegal or prohibited on the Platform.  Operator reserves the right to investigate and take appropriate legal action in its sole discretion against anyone who violates this provision, including without limitation, removing the offending communication from the Platform and terminating the membership of such violators.  It includes, but is not limited to, Teacher Content that:</p>
                            <p><strong>a.</strong> is patently offensive to the online community, such as content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;</p>
                            <p><strong>b.</strong> harasses or advocates harassment of another person;</p>
                            <p><strong>c.</strong> involves the transmission of “junk mail”, “chain letters,” or unsolicited mass mailing or “spamming”;</p>
                            <p><strong>d.</strong> promotes information that you know is false, misleading or promotes illegal activities or conduct that is abusive, threatening, obscene, profane, offensive, sexually oriented, racially offensive, defamatory or libelous;</p>
                            <p><strong>e.</strong> promotes an illegal or unauthorized copy of another person’s copyrighted work, such as providing pirated computer programs or links to them, providing information to circumvent manufacture-installed copy-protect devices, or providing pirated images, audio or video, or links to pirated images, audio or video files;</p>
                            <p><strong>f.</strong> contains restricted or password only access pages, or hidden pages or images (those not linked to or from another accessible page);</p>
                            <p><strong>g.</strong> provides material that exploits people under the age of 18 in a sexual or violent manner, or solicits personal information from anyone under the age of 18;</p>
                            <p><strong>h.</strong> provides instructional information about illegal activities such as making or buying illegal weapons, violating someone’s privacy, or providing or creating computer viruses;</p>
                            <p><strong>i.</strong> solicits passwords or personal identifying information for commercial or unlawful purposes from other users; and</p>
                            <p><strong>j.</strong> engages in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes.</p>
                            
                            <p><span class="drop-cap">8</span> "Teacher Profile" refers to the Teacher’s individual webpage within the Platform where the Teacher may upload his/her individual Teacher Content.</p>
                            <p class="clearfix"></p>
                            <p><span class="drop-cap">9</span> Recorded Lessons.  Students may have the option of recording Lessons (at the direction of the student) within the Platform.  In such a case, you grant Operator and student the right to record your Teacher Content within a Lesson to be stored and catalogued for later access by Operator or student for the Purpose of the Platform.</p>
                            <p><span class="drop-cap">10</span> Adequate Equipment and Bandwidth.  Use of the Platform requires you to have a computer and webcam.  We cannot guarantee that the Platform will function at any given time using any particular hardware or connection.  Connectivity of a quality equal to or greater than the computer and webcam you use (defined below) is required.  Connectivity greater than or equal to 600 kbps (upload and download speed) is the minimum required to use the Platform.  Suggested minimum computer hardware requirements are below:</p>
                            
                            <h5>System Requirements</h5>
                            <ul class="list">
                                <li>An Internet connection – broadband wired or wireless (3G or 4G/LTE)</li>
                                <li>Speakers and a microphone – built-in or USB plug-in or wireless Bluetooth</li>
                                <li>A webcam or HD webcam - built-in or USB plug-in</li>
                                <li>Or, a HD cam or HD camcorder with video capture card</li>
                            </ul>
                            
                            <h5>Supported Operating Systems</h5>
                            <ul class="list">
                                <li>Mac OS X with MacOS 10.6.8 /(Snow Leopard) or later</li>
                                <li>Windows 8 or 8.1</li>
                                <li>Windows 7</li>
                                <li>Windows Vista with SP1 or later</li>
                                <li>Windows XP with SP3 or later</li>
                            </ul>
                            
                            <h5>Supported Tablet and Mobile Devices</h5>
                            <ul class="list">
                                <li>Surface PRO 2 running Win 8.1</li>
                                <li>iOS and Android devices</li>
                            </ul>
                            
                            <h5>Supported Browsers</h5>
                            <ul class="list">
                                <li>Windows: IE7+,  Firefox,  Chrome,  Safari5+, Opera12+</li>
                                <li>Mac: Safari5+,  Firefox,  Chrome</li>
                            </ul>
                            
                            <h5>Processor Requirements</h5>
                            <ul class="list">
                                <li>Any 1 Ghz single core processor or better</li>
                            </ul>
                            
                            <h5>Bandwidth Requirements</h5>
                            <p>The bandwidth used will be optimized for the best experience based on the participants’ network. It will automatically adjust for 3G, WiFi or Wired environments. </p>
                            
                            <h5>Recommended bandwidth:</h5>
                            <p>For 1:1 video calling: 600kbps (up/down) for HQ video and 1.2 Mbps (up/down) for HD video <br />
                                For group video calling: 600kbps/1.2Mbps (up/down) for HQ video. For gallery view: 1.5Mbps/1.5Mbps (up/down). <br />
                                For screen sharing only (no video thumbnail): 50-75kbps<br />
                                For screen sharing with video thumbnail: 50-150kbps <br />
                                For audio VoiP: 60-80kbps </p>
                            
                            
                            <p><span class="drop-cap">11</span> Relationship between the Platform and Teacher.  When you register with the Platform, accept this Agreement, and receive Operator’s approval to act as a Teacher, you become a Teacher.  The Teachers referenced in this agreement and throughout the Platform are independent contractors offering services to students and are not employees of Operator.</p>
                            
                            <p><strong>a.</strong> Operator does not supervise Teachers or provide direction to Teachers concerning how to teach Lessons through the Platform, Teachers are not the agents of Operator, and Operator is not liable for the acts, errors, omissions, representations, warranties, breaches, or negligence of Teachers or from any personal injuries, death, property damage, or other damages or expenses resulting therefrom.</p>
                            <p><strong>b.</strong> Operator recommends that Teachers purchase appropriate general liability and professional liability insurance prior to using the Platform.</p>
                            <p><strong>c.</strong> As a Teacher, you set your own prices, availability, and schedule for the Lessons you offer students through the Platform.  </p>
                            <p><strong>d.</strong> Operator reserves the right to audit Lessons for Platform safety and stability purposes.  </p>
                            <p><strong>e.</strong> Operator reserves the right to delete your account or limit or deny you access to the Platform at any time for any reason.  </p>
                            <p><strong>f.</strong> Your punctuality is of the ultimate importance and is deemed of the essence concerning your use of the Platform for its intended Purpose (taking/giving Lessons).  </p>
                            <p><strong>g.</strong> Scheduling a Lesson.  A student may choose from the list of available Lesson times on a Teacher’s schedule.  Alternatively, a student may contact a Teacher to request other availability, and the Teacher may accept or deny the student’s availability request at the Teacher’s discretion. </p>
                            <p>A student may schedule a Lesson up to 48 hours prior to the Lesson time. </p>
                            <p>If a student schedules a Lesson within the 48 hours prior to the Lesson time, the student may be forced to reschedule the Lesson.  Students seeking to schedule a Lesson within 48 hours of the Lesson time are encouraged to confirm the Lesson time with the Teacher prior to scheduling the Lesson through the Platform.</p>
                            <p><strong>h.</strong> Payment.  The student will be charged for the Lesson at the time the student schedules the Lesson.  The student will pay the Teacher’s Lesson price through the Platform prior to each Lesson, and Operator will disburse payment of the Teacher Payment Amount to Teacher following the Lesson, except where a Refund (discussed below) is issued:</p>
                            <p><strong>i.</strong> Cancellations.  Lessons will occur as scheduled, and cancellations of Lessons will take place only in extreme circumstances.  In extreme circumstances, a student or Teacher may cancel a scheduled Lesson with Appropriate Notice.  Appropriate Notice for a student cancelling a Lesson is given by the student to the Teacher 24 hours prior to the scheduled Lesson time.  Appropriate Notice for a Teacher cancelling a Lesson is given by the Teacher to the student 36 hours prior to the scheduled Lesson time.  In the case of a cancellation, the cancelling party must immediately contact both (1) Operator via email at support@Homenote.org and (2) the other party to the Lesson (Student/Teacher) through the Platform’s internal messaging service. </p>
                            <p><strong>j.</strong> Refunds.  Any request for a refund of student payment for a Lesson (a “Refund”) will be handled on a case by case basis.  Refunds of the Lesson price may be issued to a student in some circumstances, and in such a case funds may or may not be disbursed to a Teacher, on a case by case basis.  In any such situation, if the Teacher and student can agree on a rescheduled Lesson time, and such rescheduled Lesson is completed with no further issues, funds will be disbursed to Teacher following Lesson completion.  </p>
                            <ol>
                                <li>If you are unable to provide a Lesson due to a student’s (i) inadequate hardware or (ii) inappropriate conduct, please contact Operator with an explanation of the circumstances.  All such situations, and any discussions concerning Refunds stemming therefrom, will be handled on a case-by-case basis.  If you believe student hardware is causing the problem, please include a screenshot of your computer’s bandwidth rating from <speedtest.net> with your explanation of the circumstances</li>
                                <li>A student may seek a Refund for a Lesson cancelled by a Teacher, or the student may reschedule the Lesson with the Teacher.  Teachers who repeatedly cancel Lessons without Appropriate Notice may have their Platform access limited/no longer be allowed to act as a Teacher, or may be denied access to the Platform.  </li>
                            </ol>
                            <p><strong>k.</strong> Prior to disbursing the Teacher Payment Amount (defined below) to a Teacher for a Lesson, Operator will subtract and keep 20% of the amount paid by the student for the Lesson (the “Platform Fee”).  Teacher and Operator agree that the Platform Fee is a payment made by Teacher to Operator for use of the Platform. </p>
                            <p><strong>l.</strong> Operator will disburse the Teacher Payment Amount (defined below) to Teacher by PayPal. Teacher will not bear any payment processor fees except in the case of foreign currency transactions. We estimate such fees to be 2.5% of the Teacher Payment Amount. This fee will be charged only when the Teacher transfers money from his/her PayPal account to his/her bank account. Use of a third-party payment processor will additionally subject you to the terms and conditions and privacy policy of such a payment processor.  </p>
                            <p><strong>m.</strong> The amount disbursed to Teacher after reduction of the Platform Fee is the “Teacher Payment Amount”.  To be clear, the Teacher Payment Amount for each Lesson will be 80% of the Lesson price (as set by Teacher).  </p>
                            <p><strong>n.</strong> Your use of the Platform is at your own discretion, but you agree that your punctuality is of the essence concerning your use of the Platform.  Being more than ten minutes late to or not attending a Lesson on more than one occasion is a material breach of this Agreement.  Operator has the discretion to limit or permanently refuse your access to the Platform if you are repeatedly late in this manner or repeatedly do not attend Lessons without Appropriate Notice.  Such refusals will be handled on a case-by-case basis. </p>
                            <p><strong>o.</strong> Your performance as a Teacher may be reviewed by students who have taken Lessons with you through the Platform.  </p>
                            <p><strong>p.</strong> Operator reserves the right to delete your Teacher account or deny you access to the Platform at any time for any reason.  Without limitation, Operator may limit your Platform access or deny you access to the Platform if you do not:</p>
                                <p>i. maintain an up-to-date calendar within your Teacher Profile;<br />
                                    ii. respond within 48 hours to requests for Lessons made by students through the Platform; or <br />
                                    iii. make a conspicuous note on your Teacher Profile if you will be out of town or otherwise unavailable for any extended period of time.</p>
                            <p><strong>q.</strong> Teachers are responsible for reporting any income (and any qualified deductions to income) earned through the Platform to the appropriate state, federal and/or local taxing agencies in the Teacher’s applicable home jurisdiction.  And Teachers are also solely responsible for collecting and remitting any sales tax and/or gross receipts tax to their respective state and/or local jurisdictions, if required (according to jurisdiction).  The Teacher is responsible for complying with any income tax, sales tax and any other pertinent laws governing sales of Lessons in the Teacher’s home jurisdiction. Teacher is not an employee or any other kind of agent of Operator.  Operator offers the Platform to Teachers in exchange for the Platform Fee.  Teachers should direct any questions to their individual tax preparers.</p>
                            <p>Teacher is responsible for reporting any income to any third party who may be due a commission based on a contractual relationship with Teacher.  Operator is not responsible for paying any commissions to any third parties.</p>
                            
                            <p><span class="drop-cap">12</span> Your Interactions with Other Users.</p>
                            <p class="clearfix"><strong>a.</strong> You are solely responsible for your interactions with other Platform users, including without limitation Teachers, students, prospective Teachers, and prospective students.  Operator makes no representations or warranties as to the conduct of Platform users and shall not be in any way liable for any conduct of any Platform user.  You agree to take reasonable precautions in all interactions with other users of the Platform, particularly if you decide to meet any Platform user offline or in person.  You should not provide your financial information (for example, your credit card or bank account information) to any other Platform user.</p>
                            <p><strong>b.</strong> Release. You hereby release Operator from any and all claims, demands, damages (actual, consequential, nominal, punitive, or otherwise), equitable relief, and any other legal, equitable, and administrative remedy, of every kind and nature, whether known or unknown, suspected or unsuspected, disclosed or undisclosed, past, present, or future, arising out of or in any way connected with your interaction with other users of the Platform</p>
                            <p>OPERATOR HAS NO DUTY TO MONITOR COMMUNICATIONS AND/OR INTERACTIONS TAKING PLACE ON OR THROUGH THE PLATFORM. </p>
                            <p>SEXUALLY EXPLICIT MATERIAL IS NOT ALLOWED TO BE USED IN CONNECTION WITH OR TRANSMITTED THROUGH THE PLATFORM.</p>
                            
                            <p><span class="drop-cap">14</span> Teaching Children.  Operator may in in some circumstances allow children to take Lessons through the Platform.  Teachers who want to teach children must submit to a criminal background check prior to teaching children. </p>
                            <p>If your use of the Platform exposes any user under the age of 18 to sexually explicit material and Operator becomes aware of such conduct, we will report your conduct to the appropriate authorities as we are required to do by law.  Additionally, other types of conduct in violation of this Agreement may be reported to the appropriate authorities as we deem appropriate on a case-by-case basis.</p>
                            <p><span class="drop-cap">15</span> Your use of the Platform.  You may use this Platform for lawful purposes only in accordance with the Purpose of this Platform.  You may not aid others in doing anything that you are not permitted to do under the Agreement.  You may not (1) submit or transmit through the Platform any content or material or (2) engage in any conduct, that Operator in its sole discretion deems:</p>
                            <p><strong>a.</strong> violates or infringes the rights of others, including without limitation, patent, trademark, trade secret, copyright, privacy, publicity, or other proprietary rights;</p>
                            <p><strong>b.</strong> is unlawful or is otherwise objectionable in our sole discretion, including without limitation materials or conduct that is threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, obscene, invasive of another’s privacy, pornographic or sexually explicit, or tortuously interferes with another;</p>
                            <p><strong>c.</strong> forges email headers or otherwise disguises the origin of any communication; </p>
                            <p><strong>d.</strong> sends unsolicited bulk messages within Platform’s messaging service;</p>
                            <p><strong>e.</strong> uses automated “bots” to access or compile information posted in connection with the Platform; </p>
                            <p><strong>f.</strong> victimizes or harasses, degrades, or intimidates any individual or group of individuals;</p>
                            <p><strong>g.</strong> impersonates any person, business, or entity;</p>
                            <p><strong>h.</strong> expresses or implies that any statements you make are endorsed by Operator without our specific prior written consent;</p>
                            <p><strong>i.</strong> that any statements you make and/or conduct undertaken by you are endorsed by Operator without our specific prior written consent;</p>
                            <p><strong>j.</strong> “frames” or “mirrors” any part of the Platform, without Operator’s prior written authorization.  You also shall not use meta tags or code or other devices containing any reference to Operator or the Platform in order to direct any person to any other web site for any purpose;</p>
                            <p><strong>k.</strong> modifies, adapts, sublicenses, translates, sells, reverse engineers, deciphers, decompiles or otherwise disassembles any portion of the Platform or any software used on or for the Platform, or cause others to do so;</p>
                            <p><strong>l.</strong> encourages conduct that constitutes a criminal act or that gives rise to civil liability;</p>
                            <p><strong>m.</strong> promotes any business other than the Platform or your services as offered through the Platform in accordance with the Purpose of the site; or</p>
                            <p><strong>n.</strong> violates the Agreement or otherwise interferes with the rights of others. </p>
                            
                            
                        </div>
                        <!--part end-->                        
                    </div>
                    <!--row end-->
                    
                </div>
                <br />
            </section>
                               </div>
                                </div>
                              <div class="modal-footer">
                                <button type="button"  ng-click="acceptTerms()">I Agree</button>
                              </div>